<div class="col-lg-12 user">
    <div class="user__profile-image-container">
        <img src="https://s3.amazonaws.com/uksga-website-assets/cf76ae72d40b979329540cea06ee6f85.jpeg" alt="Profile image" class="user__profile-image">
    </div> 
    <div class="user__contact-container">
        <p class="user__contact contact-information contact-information--name">{{ user.username|capitalize }}</p>
        <p class="user__contact contact-information contact-information--contact">{{ user.email }}</p>
    </div>
    <div class="user__role-container">
        {% if user.roles[0] == 'ROLE_ADMIN'%}
            <i class="user__icon material-icons md-16 centered">verified_user</i>
        {% else %}
            <i class="user__icon material-icons md-16 centered">vpn_key</i>
        {% endif %}
        <p class="user__role">{{ user.roles[0]|upper }}</p>
    </div>
    <a href="{{ path('delete_user', {'id': user.id}) }}" class="btn btn-default btn-default--centered btn--destructive"><i class="material-icons md-16 centered admin-inputs__icon">delete</i>deactivate</a>
</div>