{% extends 'security/base_security.html.twig' %}

{% block body %}
<div class="security">
    <div class="security-container">
        <h1 class="heading-primary">Login</h1>
        <p class="description u-margin-bottom-medium">
            Please enter your email and password below so we can get you on to the platform!
        </p>
        <form action="{{ path('login') }}" class="admin-inputs" method="post">
            <label for="username" class="admin-inputs__label">Username:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" class="admin-inputs__text-input"/>
            <label for="password" class="admin-inputs__label">Password:</label>
            <input type="password" id="password" name="_password" class="admin-inputs__text-input"/>
            {% if error %}
                <div class="admin-inputs__error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <button class="btn btn-default btn--green-solid u-margin-top-medium">Login</button>
        </form>
    </div>
</div>
{% endblock %}