{% extends 'base.html.twig' %}

{% block body %}
<div class="security">
    <h1 class="page-title">Login</h1>
    <p class="description u-margin-bottom-huge">
        Please enter your email and password below so we can get you on to the platform!
    </p>
    <form action="{{ path('login') }}" class="form" method="post">
        {% if error %}
            <div class="form__error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <div class="form__row">
            <label for="username">Username:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" class="form__input"/>
        </div>
        <div class="form__row">
            <label for="password">Password:</label>
            <input type="password" id="password" name="_password" class="form__input"/>
        </div>
        <div class="form__row">
            <button class="btn btn-default btn--blue">Login &smashp;</button>
        </div>
    </form>
</div>
{% endblock %}