{% extends 'base.html.twig' %}

{% block title %}Initiave Tracker{% endblock %}

{% block og %}
    <meta property="og:title" content="UKSGA: Initiative Tracker" />
    <meta property="og:image" content="{{asset('/img/hero_tracker.jpg')}}" />
{% endblock %}

{% block body %}

{{ include('components/_header.html.twig', {'modifier': 'tracker', 'title': 'Initiative Tracker', 'description': 'Description for Initiative Tracker.'}) }}

<main>
    <article class="initiative-type">
        <h3 class="initiative-type__title">Academic and Student Affairs</h3>
        <div class="card-deck">
            <div class="card pub mb-4">
                <div class="card-title"> Initiative 1 </div>
                <div class="initiative-type__content>
                    Entry Date: 10/05/20
                    <br>
                    <a href="https://www.google.com">Report</a>
                    <br>
                    Status: Ongoing
                    <br>
                    Contact: sga.someone@uky.edu
                </div>
            </div>
            <div class="card pub mb-4">
                <div class="card-title"> Initiative 2 </div>
                <div class="initiative-type__content>
                    Entry Date: 10/05/20
                    <br>
                    <a href="https://www.google.com">Report</a>
                    <br>
                    Status: Ongoing
                    <br>
                    Contact: sga.someone@uky.edu
                </div>
            </div>
        </div>
    </article>

    <article class="initiative-type">
        <h3 class="initiative-type__title">Operation and Evaluation</h3>
        <div class="card-deck">
            <div class="card pub mb-4">
                <div class="card-title"> Initiative 1 </div>
                <div class="initiative-type__content>
                    Entry Date: 10/05/20
                    <br>
                    <a href="https://www.google.com">Report</a>
                    <br>
                    Status: Ongoing
                    <br>
                    Contact: sga.someone@uky.edu
                </div>
            </div>
            <div class="card pub mb-4">
                <div class="card-title"> Initiative 2 </div>
                <div class="initiative-type__content>
                    Entry Date: 10/05/20
                    <br>
                    <a href="https://www.google.com">Report</a>
                    <br>
                    Status: Ongoing
                    <br>
                    Contact: sga.someone@uky.edu
                </div>
            </div>
        </div>
    </article>

    <article class="initiative-type">
        <h3 class="initiative-type__title">Appropriation and Revenue</h3>
        <div class="card-deck">
            <div class="card pub mb-4">
                <div class="card-title"> Initiative 1 </div>
                <div class="initiative-type__content>
                    Entry Date: 10/05/20
                    <br>
                    <a href="https://www.google.com">Report</a>
                    <br>
                    Status: Ongoing
                    <br>
                    Contact: sga.someone@uky.edu
                </div>
            </div>
            <div class="card pub mb-4">
                <div class="card-title"> Initiative 2 </div>
                <div class="initiative-type__content>
                    Entry Date: 10/05/20
                    <br>
                    <a href="https://www.google.com">Report</a>
                    <br>
                    Status: Ongoing
                    <br>
                    Contact: sga.someone@uky.edu
                </div>
            </div>
        </div>
    </article>

    <article class="initiative-type">
        <h3 class="initiative-type__title">Special Initiatives</h3>
        <div class="card-deck">
            <div class="card pub mb-4">
                <div class="card-title"> Initiative 1 </div>
                <div class="initiative-type__content>
                    Entry Date: 10/05/20
                    <br>
                    <a href="https://www.google.com">Report</a>
                    <br>
                    Status: Ongoing
                    <br>
                    Contact: sga.someone@uky.edu
                </div>
            </div>
            <div class="card pub mb-4">
                <div class="card-title"> Initiative 2 </div>
                <div class="initiative-type__content>
                    Entry Date: 10/05/20
                    <br>
                    <a href="https://www.google.com">Report</a>
                    <br>
                    Status: Ongoing
                    <br>
                    Contact: sga.someone@uky.edu
                </div>
            </div>
        </div>
    </article>

    <article class="initiative-type">
        <h3 class="initiative-type__title">Internal Initiatives</h3>
        <div class="card-deck">
            <div class="card pub mb-4">
                <div class="card-title"> Initiative 1 </div>
                <div class="initiative-type__content>
                    Entry Date: 10/05/20
                    <br>
                    <a href="https://www.google.com">Report</a>
                    <br>
                    Status: Ongoing
                    <br>
                    Contact: sga.someone@uky.edu
                </div>
            </div>
            <div class="card pub mb-4">
                <div class="card-title"> Initiative 2 </div>
                <div class="initiative-type__content>
                    Entry Date: 10/05/20
                    <br>
                    <a href="https://www.google.com">Report</a>
                    <br>
                    Status: Ongoing
                    <br>
                    Contact: sga.someone@uky.edu
                </div>
            </div>
        </div>
    </article>

    <article class="initiative-type">
        <h3 class="initiative-type__title">Campus Services</h3>
        <div class="card-deck">
            <div class="card pub mb-4">
                <div class="card-title"> Initiative 1 </div>
                <div class="initiative-type__content>
                    Entry Date: 10/05/20
                    <br>
                    <a href="https://www.google.com">Report</a>
                    <br>
                    Status: Ongoing
                    <br>
                    Contact: sga.someone@uky.edu
                </div>
            </div>
            <div class="card pub mb-4">
                <div class="card-title"> Initiative 2 </div>
                <div class="initiative-type__content>
                    Entry Date: 10/05/20
                    <br>
                    <a href="https://www.google.com">Report</a>
                    <br>
                    Status: Ongoing
                    <br>
                    Contact: sga.someone@uky.edu
                </div>
            </div>
        </div>
    </article>

    <article class="initiative-type">
        <h3 class="initiative-type__title">Outreach</h3>
        <div class="card-deck">
            <div class="card pub mb-4">
                <div class="card-title"> Initiative 1 </div>
                <div class="initiative-type__content>
                    Entry Date: 10/05/20
                    <br>
                    <a href="https://www.google.com">Report</a>
                    <br>
                    Status: Ongoing
                    <br>
                    Contact: sga.someone@uky.edu
                </div>
            </div>
            <div class="card pub mb-4">
                <div class="card-title"> Initiative 2 </div>
                <div class="initiative-type__content>
                    Entry Date: 10/05/20
                    <br>
                    <a href="https://www.google.com">Report</a>
                    <br>
                    Status: Ongoing
                    <br>
                    Contact: sga.someone@uky.edu
                </div>
            </div>
        </div>
    </article>

    <article class="initiative-type">
        <h3 class="initiative-type__title">Inclusion and Equity</h3>
        <div class="card-deck">
            <div class="card pub mb-4">
                <div class="card-title"> Initiative 1 </div>
                <div class="initiative-type__content>
                    Entry Date: 10/05/20
                    <br>
                    <a href="https://www.google.com">Report</a>
                    <br>
                    Status: Ongoing
                    <br>
                    Contact: sga.someone@uky.edu
                </div>
            </div>
            <div class="card pub mb-4">
                <div class="card-title"> Initiative 2 </div>
                <div class="initiative-type__content>
                    Entry Date: 10/05/20
                    <br>
                    <a href="https://www.google.com">Report</a>
                    <br>
                    Status: Ongoing
                    <br>
                    Contact: sga.someone@uky.edu
                </div>
            </div>
        </div>
    </article>

    <article class="initiative-type">
        <h3 class="initiative-type__title">Civic Engagement and Government Relations</h3>
        <div class="card-deck">
            <div class="card pub mb-4">
                <div class="card-title"> Initiative 1 </div>
                <div class="initiative-type__content>
                    Entry Date: 10/05/20
                    <br>
                    <a href="https://www.google.com">Report</a>
                    <br>
                    Status: Ongoing
                    <br>
                    Contact: sga.someone@uky.edu
                </div>
            </div>
            <div class="card pub mb-4">
                <div class="card-title"> Initiative 2 </div>
                <div class="initiative-type__content>
                    Entry Date: 10/05/20
                    <br>
                    <a href="https://www.google.com">Report</a>
                    <br>
                    Status: Ongoing
                    <br>
                    Contact: sga.someone@uky.edu
                </div>
            </div>
        </div>
    </article>

    <article class="initiative-type">
        <h3 class="initiative-type__title">Campus Safety</h3>
        <div class="card-deck">
            <div class="card pub mb-4">
                <div class="card-title"> Initiative 1 </div>
                <div class="initiative-type__content>
                    Entry Date: 10/05/20
                    <br>
                    <a href="https://www.google.com">Report</a>
                    <br>
                    Status: Ongoing
                    <br>
                    Contact: sga.someone@uky.edu
                </div>
            </div>
            <div class="card pub mb-4">
                <div class="card-title"> Initiative 2 </div>
                <div class="initiative-type__content>
                    Entry Date: 10/05/20
                    <br>
                    <a href="https://www.google.com">Report</a>
                    <br>
                    Status: Ongoing
                    <br>
                    Contact: sga.someone@uky.edu
                </div>
            </div>
        </div>
    </article>

    <article class="initiative-type">
        <h3 class="initiative-type__title">Sustainability</h3>
        <div class="card-deck">
            <div class="card pub mb-4">
                <div class="card-title"> Initiative 1 </div>
                <div class="initiative-type__content>
                    Entry Date: 10/05/20
                    <br>
                    <a href="https://www.google.com">Report</a>
                    <br>
                    Status: Ongoing
                    <br>
                    Contact: sga.someone@uky.edu
                </div>
            </div>
            <div class="card pub mb-4">
                <div class="card-title"> Initiative 2 </div>
                <div class="initiative-type__content>
                    Entry Date: 10/05/20
                    <br>
                    <a href="https://www.google.com">Report</a>
                    <br>
                    Status: Ongoing
                    <br>
                    Contact: sga.someone@uky.edu
                </div>
            </div>
        </div>
    </article>

    <article class="initiative-type">
        <h3 class="initiative-type__title">Health and Wellness</h3>
        <div class="card-deck">
            <div class="card pub mb-4">
                <div class="card-title"> Initiative 1 </div>
                <div class="initiative-type__content>
                    Entry Date: 10/05/20
                    <br>
                    <a href="https://www.google.com">Report</a>
                    <br>
                    Status: Ongoing
                    <br>
                    Contact: sga.someone@uky.edu
                </div>
            </div>
            <div class="card pub mb-4">
                <div class="card-title"> Initiative 2 </div>
                <div class="initiative-type__content>
                    Entry Date: 10/05/20
                    <br>
                    <a href="https://www.google.com">Report</a>
                    <br>
                    Status: Ongoing
                    <br>
                    Contact: sga.someone@uky.edu
                </div>
            </div>
        </div>
    </article>
</main>
{% endblock %}