{% extends 'base.html.twig' %}

{% block title %}Resource Tracker{% endblock %}

{% block og %}
    <meta property="og:title" content="UKSGA: Resource Tracker" />
    <meta property="og:image" content="{{asset('/img/hero_tracker.jpg')}}" />
{% endblock %}

{% block body %}

{{ include('components/_header.html.twig', {'modifier': 'tracker', 'title': 'Resource Tracker', 'description': 'This is a list of resources available to UK students and employee. Please see below.'}) }}

<main>
     <section class="section">
        <h1 class="heading-primary">General Campus Resources</h1>
        <br>
        <h3 class="heading-primary">The Study</h3>
        <p class="description u-margin-bottom-small">The Study is the University of Kentucky’s centralized peer tutoring center. The Peer Tutoring Program provides FREE, drop-in, peer tutoring for many core courses in mathematics, science, & business. Offering proactive assistance, the goal of the Peer Tutoring Program at The Study is to enhance students' academic experience as early and as often as possible. Learn from and alongside your peers in an open and relaxed group tutoring environment. To learn more please visit this <a target="_blank" href="https://www.uky.edu/thestudy/" class="link">link.</a> </p>
        <br>
        <h3 class="heading-primary">Academic Coaching</h3>
        <p class="description u-margin-bottom-small">Academic Coaching is a no-cost, stress-free way to learn the skills and resources to be successful in college and beyond. To learn more please visit this <a target="_blank" href="https://www.uky.edu/acadcoach/about-us" class="link">link.</a> </p>
        <br>
        <h3 class="heading-primary">Disability Resource Center (DRC)</h3>
        <p class="description u-margin-bottom-small">The University of Kentucky Disability Resource Center partners with qualified students with disabilities to assist them in gaining equal access to institutional programs and services consistent with their unique needs. The Center seeks to responsibly advocate the needs of students with disabilities to the campus community through consultation and outreach efforts with administration, faculty, students and University partners. To learn more please visit this <a target="_blank" href="https://www.uky.edu/DisabilityResourceCenter/" class="link">link.</a> </p>
        <br>
        <h3 class="heading-primary">University Health Services (UHS)</h3>
        <p class="description u-margin-bottom-small">UHS is your source for employee and student health care. Our physicians are board-certified in family practice, internal medicine, gynecology/genitourinary care (GYN/GU), psychiatry, and occupational medicine. In addition to our physicians, our nurse practitioners have certification in family medicine, women's health, psychiatry and emergency medicine. To learn more please visit this <a target="_blank" href="https://ukhealthcare.uky.edu/university-health-service" class="link">link.</a> </p>
        <br>
        <h3 class="heading-primary">Stuckert Career Center</h3>
        <p class="description u-margin-bottom-small">For more than 20 years, the Stuckert Career Center has served the UK campus community. The Career Center building was dedicated on October 10, 2000, and it is the operational center of university career services for the Lexington campus. The Career Center was established with generous support from James W. Stuckert and other University donors. The Career Center provides comprehensive career development programming, resources, and services for the student body and new graduates. To learn more please visit this <a target="_blank" href="https://www.uky.edu/careercenter/about" class="link">link.</a> </p>
        <br>
        <h3 class="heading-primary">Dean of Students</h3>
        <p class="description u-margin-bottom-small">At the University of Kentucky, the Dean of Students office provides educationally purposeful programs, activities, and services that engage all students and encourages positive community behavior from our students. To learn more please visit this <a target="_blank" href="https://www.uky.edu/deanofstudents/about" class="link">link.</a> </p>
        <br>
        <h3 class="heading-primary">Martin Luther King Center</h3>
        <p class="description u-margin-bottom-small">Since January of 1987, the Martin Luther King Jr. Cultural Center has been around to provide a space, programming, and a community for underrepresented populations at the University of Kentucky. From our humble beginnings in an old utility closet, to being centralized in the Gatton Student Center. To learn more please visit this <a target="_blank" href="https://www.uky.edu/mlkc/about-us" class="link">link.</a> </p>
        <br>
        <h3 class="heading-primary">Office of International Center</h3>
        <p class="description u-margin-bottom-small">The UK International Center (UKIC) leads internationalization efforts at the University of Kentucky. The work of the UKIC is supported by International Advisory Council, a group of globally-engaged faculty and administrators representing each of the University’s 16 colleges, plus other key academic units. To learn more please visit this <a target="_blank" href="https://international.uky.edu/" class="link">link.</a> </p>
        <br>
        <h3 class="heading-primary">Student Health & Well-Being</h3>
        <p class="description u-margin-bottom-small">Student Health & Well-Being fosters holistic well-being by developing informed, empowered, and academically-successful UK students through engagement, collaboration, and the development of inclusive, evidence-based initiatives that strengthen and improve health behavior. To learn more please visit this <a target="_blank" href="https://www.uky.edu/wellness/" class="link">link.</a> </p>
        <br>  
    </section>
</main>
{% endblock %}