{% extends 'base.html.twig' %}

{% block title %}Initiave Tracker{% endblock %}

{% block og %}
    <meta property="og:title" content="UKSGA: Initiative Tracker" />
    <meta property="og:image" content="{{asset('/img/hero_tracker.jpg')}}" />
{% endblock %}

{% block body %}

{{ include('components/_header.html.twig', {'modifier': 'tracker', 'title': 'Initiative Tracker', 'description': 'Description for Initiative Tracker.'}) }}

<main>
    <section class="section">
    {#
        <h1 class="initiative-type__title">Academic and Student Affairs</h1>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card" style="background-color: #3777d7; color: #ffffff;">
                        <div class="card__description">
                            <h2 class="heading-secondary">Initiative 1</h2>
                            <p class="description-secondary">
                                Entry Date: 10/05/20
                                <br>
                                <a href="https://www.google.com" style="color: #ffffff;">Report</a>
                                <br>
                                Status: Ongoing
                                <br>
                                Contact: sga.someone@uky.edu
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card" style="background-color: #18468f; color: #ffffff;">
                        <div class="card__description">
                            <h2 class="heading-secondary">Initiative 2</h2>
                            <p class="description-secondary">
                                Entry Date: 10/05/20
                                <br>
                                <a href="https://www.google.com" style="color: #ffffff;">Report</a>
                                <br>
                                Status: Complete
                                <br>
                                Contact: sga.someone@uky.edu
                            </p>                     
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card" style="background-color: #63656a; color: #ffffff;">
                        <div class="card__description">
                            <h2 class="heading-secondary">Initiative 3</h2>
                            <p class="description-secondary">
                                Entry Date: 10/05/20
                                <br>
                                <a href="https://www.google.com" style="color: #ffffff;">Report</a>
                                <br>
                                Status: Planning
                                <br>
                                Contact: sga.someone@uky.edu
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card" style="background-color: #18468f; color: #ffffff;">
                        <div class="card__description">
                            <h2 class="heading-secondary">Initiative 4</h2>
                            <p class="description-secondary">
                                Entry Date: 10/05/20
                                <br>
                                <a href="https://www.google.com" style="color: #ffffff;">Report</a>
                                <br>
                                Status: Complete
                                <br>
                                Contact: sga.someone@uky.edu
                            </p>                     
                        </div>
                    </div>
                </div>
            </div>
        </div>
    #}
        <h1 class="initiative-type__title">Operation and Evaluation</h1>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card" style="background-color: #3777d7; color: #ffffff;">
                        <div class="card__description">
                            <h2 class="heading-secondary">Senate Special project toassist funding UK Salvation Army Clinic</h2>
                            <p class="description-secondary">
                                Entry Date: 11/01/20
                                <br>
                                <a href="" style="color: #ffffff;">Report</a>
                                <br>
                                Status: Ongoing
                                <br>
                                Contact: cassandra.kruchten@uky.edu
                            </p>
                        </div>
                    </div>
                </div>
                {#
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card" style="background-color: #18468f; color: #ffffff;">
                        <div class="card__description">
                            <h2 class="heading-secondary">Initiative 2</h2>
                            <p class="description-secondary">
                                Entry Date: 10/05/20
                                <br>
                                <a href="https://www.google.com" style="color: #ffffff;">Report</a>
                                <br>
                                Status: Complete
                                <br>
                                Contact: sga.someone@uky.edu
                            </p>                     
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card" style="background-color: #63656a; color: #ffffff;">
                        <div class="card__description">
                            <h2 class="heading-secondary">Initiative 3</h2>
                            <p class="description-secondary">
                                Entry Date: 10/05/20
                                <br>
                                <a href="https://www.google.com" style="color: #ffffff;">Report</a>
                                <br>
                                Status: Planning
                                <br>
                                Contact: sga.someone@uky.edu
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card" style="background-color: #18468f; color: #ffffff;">
                        <div class="card__description">
                            <h2 class="heading-secondary">Initiative 4</h2>
                            <p class="description-secondary">
                                Entry Date: 10/05/20
                                <br>
                                <a href="https://www.google.com" style="color: #ffffff;">Report</a>
                                <br>
                                Status: Complete
                                <br>
                                Contact: sga.someone@uky.edu
                            </p>                     
                        </div>
                    </div>
                </div>
                #}
            </div>
        </div>
        {#    
        <h1 class="initiative-type__title">Appropriation and Revenue</h1>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card" style="background-color: #3777d7; color: #ffffff;">
                        <div class="card__description">
                            <h2 class="heading-secondary">Initiative 1</h2>
                            <p class="description-secondary">
                                Entry Date: 10/05/20
                                <br>
                                <a href="https://www.google.com" style="color: #ffffff;">Report</a>
                                <br>
                                Status: Ongoing
                                <br>
                                Contact: sga.someone@uky.edu
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card" style="background-color: #18468f; color: #ffffff;">
                        <div class="card__description">
                            <h2 class="heading-secondary">Initiative 2</h2>
                            <p class="description-secondary">
                                Entry Date: 10/05/20
                                <br>
                                <a href="https://www.google.com" style="color: #ffffff;">Report</a>
                                <br>
                                Status: Complete
                                <br>
                                Contact: sga.someone@uky.edu
                            </p>                     
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card" style="background-color: #63656a; color: #ffffff;">
                        <div class="card__description">
                            <h2 class="heading-secondary">Initiative 3</h2>
                            <p class="description-secondary">
                                Entry Date: 10/05/20
                                <br>
                                <a href="https://www.google.com" style="color: #ffffff;">Report</a>
                                <br>
                                Status: Planning
                                <br>
                                Contact: sga.someone@uky.edu
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card" style="background-color: #18468f; color: #ffffff;">
                        <div class="card__description">
                            <h2 class="heading-secondary">Initiative 4</h2>
                            <p class="description-secondary">
                                Entry Date: 10/05/20
                                <br>
                                <a href="https://www.google.com" style="color: #ffffff;">Report</a>
                                <br>
                                Status: Complete
                                <br>
                                Contact: sga.someone@uky.edu
                            </p>                     
                        </div>
                    </div>
                </div>
            </div>
        </div>
             
        <h1 class="initiative-type__title">Special Initiatives</h1>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card" style="background-color: #3777d7; color: #ffffff;">
                        <div class="card__description">
                            <h2 class="heading-secondary">Initiative 1</h2>
                            <p class="description-secondary">
                                Entry Date: 10/05/20
                                <br>
                                <a href="https://www.google.com" style="color: #ffffff;">Report</a>
                                <br>
                                Status: Ongoing
                                <br>
                                Contact: sga.someone@uky.edu
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card" style="background-color: #18468f; color: #ffffff;">
                        <div class="card__description">
                            <h2 class="heading-secondary">Initiative 2</h2>
                            <p class="description-secondary">
                                Entry Date: 10/05/20
                                <br>
                                <a href="https://www.google.com" style="color: #ffffff;">Report</a>
                                <br>
                                Status: Complete
                                <br>
                                Contact: sga.someone@uky.edu
                            </p>                     
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card" style="background-color: #63656a; color: #ffffff;">
                        <div class="card__description">
                            <h2 class="heading-secondary">Initiative 3</h2>
                            <p class="description-secondary">
                                Entry Date: 10/05/20
                                <br>
                                <a href="https://www.google.com" style="color: #ffffff;">Report</a>
                                <br>
                                Status: Planning
                                <br>
                                Contact: sga.someone@uky.edu
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card" style="background-color: #18468f; color: #ffffff;">
                        <div class="card__description">
                            <h2 class="heading-secondary">Initiative 4</h2>
                            <p class="description-secondary">
                                Entry Date: 10/05/20
                                <br>
                                <a href="https://www.google.com" style="color: #ffffff;">Report</a>
                                <br>
                                Status: Complete
                                <br>
                                Contact: sga.someone@uky.edu
                            </p>                     
                        </div>
                    </div>
                </div>
            </div>
        </div>
                
        <h1 class="initiative-type__title">Internal Initiatives</h1>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card" style="background-color: #3777d7; color: #ffffff;">
                        <div class="card__description">
                            <h2 class="heading-secondary">Initiative 1</h2>
                            <p class="description-secondary">
                                Entry Date: 10/05/20
                                <br>
                                <a href="https://www.google.com" style="color: #ffffff;">Report</a>
                                <br>
                                Status: Ongoing
                                <br>
                                Contact: sga.someone@uky.edu
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card" style="background-color: #18468f; color: #ffffff;">
                        <div class="card__description">
                            <h2 class="heading-secondary">Initiative 2</h2>
                            <p class="description-secondary">
                                Entry Date: 10/05/20
                                <br>
                                <a href="https://www.google.com" style="color: #ffffff;">Report</a>
                                <br>
                                Status: Complete
                                <br>
                                Contact: sga.someone@uky.edu
                            </p>                     
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card" style="background-color: #63656a; color: #ffffff;">
                        <div class="card__description">
                            <h2 class="heading-secondary">Initiative 3</h2>
                            <p class="description-secondary">
                                Entry Date: 10/05/20
                                <br>
                                <a href="https://www.google.com" style="color: #ffffff;">Report</a>
                                <br>
                                Status: Planning
                                <br>
                                Contact: sga.someone@uky.edu
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card" style="background-color: #18468f; color: #ffffff;">
                        <div class="card__description">
                            <h2 class="heading-secondary">Initiative 4</h2>
                            <p class="description-secondary">
                                Entry Date: 10/05/20
                                <br>
                                <a href="https://www.google.com" style="color: #ffffff;">Report</a>
                                <br>
                                Status: Complete
                                <br>
                                Contact: sga.someone@uky.edu
                            </p>                     
                        </div>
                    </div>
                </div>
            </div>
        </div> 
                
        <h1 class="initiative-type__title">Campus Services</h1>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card" style="background-color: #3777d7; color: #ffffff;">
                        <div class="card__description">
                            <h2 class="heading-secondary">Initiative 1</h2>
                            <p class="description-secondary">
                                Entry Date: 10/05/20
                                <br>
                                <a href="https://www.google.com" style="color: #ffffff;">Report</a>
                                <br>
                                Status: Ongoing
                                <br>
                                Contact: sga.someone@uky.edu
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card" style="background-color: #18468f; color: #ffffff;">
                        <div class="card__description">
                            <h2 class="heading-secondary">Initiative 2</h2>
                            <p class="description-secondary">
                                Entry Date: 10/05/20
                                <br>
                                <a href="https://www.google.com" style="color: #ffffff;">Report</a>
                                <br>
                                Status: Complete
                                <br>
                                Contact: sga.someone@uky.edu
                            </p>                     
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card" style="background-color: #63656a; color: #ffffff;">
                        <div class="card__description">
                            <h2 class="heading-secondary">Initiative 3</h2>
                            <p class="description-secondary">
                                Entry Date: 10/05/20
                                <br>
                                <a href="https://www.google.com" style="color: #ffffff;">Report</a>
                                <br>
                                Status: Planning
                                <br>
                                Contact: sga.someone@uky.edu
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card" style="background-color: #18468f; color: #ffffff;">
                        <div class="card__description">
                            <h2 class="heading-secondary">Initiative 4</h2>
                            <p class="description-secondary">
                                Entry Date: 10/05/20
                                <br>
                                <a href="https://www.google.com" style="color: #ffffff;">Report</a>
                                <br>
                                Status: Complete
                                <br>
                                Contact: sga.someone@uky.edu
                            </p>                     
                        </div>
                    </div>
                </div>
            </div>
        </div>
        #}
          
        <h1 class="initiative-type__title">Outreach</h1>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card" style="background-color: #3777d7; color: #ffffff;">
                        <div class="card__description">
                            <h2 class="heading-secondary">Team Building Tournament</h2>
                            <p class="description-secondary">
                                Entry Date: TBD
                                <br>
                                <a href="" style="color: #ffffff;">Report</a>
                                <br>
                                Status: Ongoing
                                <br>
                                Contact: PMAG222@uky.edu, IsaccSutherland@uky.edu
                            </p>
                        </div>
                    </div>
                </div>
                {#
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card" style="background-color: #18468f; color: #ffffff;">
                        <div class="card__description">
                            <h2 class="heading-secondary">Initiative 2</h2>
                            <p class="description-secondary">
                                Entry Date: 10/05/20
                                <br>
                                <a href="https://www.google.com" style="color: #ffffff;">Report</a>
                                <br>
                                Status: Complete
                                <br>
                                Contact: sga.someone@uky.edu
                            </p>                     
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card" style="background-color: #63656a; color: #ffffff;">
                        <div class="card__description">
                            <h2 class="heading-secondary">Initiative 3</h2>
                            <p class="description-secondary">
                                Entry Date: 10/05/20
                                <br>
                                <a href="https://www.google.com" style="color: #ffffff;">Report</a>
                                <br>
                                Status: Planning
                                <br>
                                Contact: sga.someone@uky.edu
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card" style="background-color: #18468f; color: #ffffff;">
                        <div class="card__description">
                            <h2 class="heading-secondary">Initiative 4</h2>
                            <p class="description-secondary">
                                Entry Date: 10/05/20
                                <br>
                                <a href="https://www.google.com" style="color: #ffffff;">Report</a>
                                <br>
                                Status: Complete
                                <br>
                                Contact: sga.someone@uky.edu
                            </p>                     
                        </div>
                    </div>
                </div>
                #}
            </div>
        </div>
        {#
        <h1 class="initiative-type__title">Inclusion and Equity</h1>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card" style="background-color: #3777d7; color: #ffffff;">
                        <div class="card__description">
                            <h2 class="heading-secondary">Initiative 1</h2>
                            <p class="description-secondary">
                                Entry Date: 10/05/20
                                <br>
                                <a href="https://www.google.com" style="color: #ffffff;">Report</a>
                                <br>
                                Status: Ongoing
                                <br>
                                Contact: sga.someone@uky.edu
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card" style="background-color: #18468f; color: #ffffff;">
                        <div class="card__description">
                            <h2 class="heading-secondary">Initiative 2</h2>
                            <p class="description-secondary">
                                Entry Date: 10/05/20
                                <br>
                                <a href="https://www.google.com" style="color: #ffffff;">Report</a>
                                <br>
                                Status: Complete
                                <br>
                                Contact: sga.someone@uky.edu
                            </p>                     
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card" style="background-color: #63656a; color: #ffffff;">
                        <div class="card__description">
                            <h2 class="heading-secondary">Initiative 3</h2>
                            <p class="description-secondary">
                                Entry Date: 10/05/20
                                <br>
                                <a href="https://www.google.com" style="color: #ffffff;">Report</a>
                                <br>
                                Status: Planning
                                <br>
                                Contact: sga.someone@uky.edu
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card" style="background-color: #18468f; color: #ffffff;">
                        <div class="card__description">
                            <h2 class="heading-secondary">Initiative 4</h2>
                            <p class="description-secondary">
                                Entry Date: 10/05/20
                                <br>
                                <a href="https://www.google.com" style="color: #ffffff;">Report</a>
                                <br>
                                Status: Complete
                                <br>
                                Contact: sga.someone@uky.edu
                            </p>                     
                        </div>
                    </div>
                </div>
            </div>
        </div>
                
        <h1 class="initiative-type__title">Civic Engagement and Government Relations</h1>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card" style="background-color: #3777d7; color: #ffffff;">
                        <div class="card__description">
                            <h2 class="heading-secondary">Initiative 1</h2>
                            <p class="description-secondary">
                                Entry Date: 10/05/20
                                <br>
                                <a href="https://www.google.com" style="color: #ffffff;">Report</a>
                                <br>
                                Status: Ongoing
                                <br>
                                Contact: sga.someone@uky.edu
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card" style="background-color: #18468f; color: #ffffff;">
                        <div class="card__description">
                            <h2 class="heading-secondary">Initiative 2</h2>
                            <p class="description-secondary">
                                Entry Date: 10/05/20
                                <br>
                                <a href="https://www.google.com" style="color: #ffffff;">Report</a>
                                <br>
                                Status: Complete
                                <br>
                                Contact: sga.someone@uky.edu
                            </p>                     
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card" style="background-color: #63656a; color: #ffffff;">
                        <div class="card__description">
                            <h2 class="heading-secondary">Initiative 3</h2>
                            <p class="description-secondary">
                                Entry Date: 10/05/20
                                <br>
                                <a href="https://www.google.com" style="color: #ffffff;">Report</a>
                                <br>
                                Status: Planning
                                <br>
                                Contact: sga.someone@uky.edu
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card" style="background-color: #18468f; color: #ffffff;">
                        <div class="card__description">
                            <h2 class="heading-secondary">Initiative 4</h2>
                            <p class="description-secondary">
                                Entry Date: 10/05/20
                                <br>
                                <a href="https://www.google.com" style="color: #ffffff;">Report</a>
                                <br>
                                Status: Complete
                                <br>
                                Contact: sga.someone@uky.edu
                            </p>                     
                        </div>
                    </div>
                </div>
            </div>
        </div>
                
        <h1 class="initiative-type__title">Campus Safety</h1>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card" style="background-color: #3777d7; color: #ffffff;">
                        <div class="card__description">
                            <h2 class="heading-secondary">Initiative 1</h2>
                            <p class="description-secondary">
                                Entry Date: 10/05/20
                                <br>
                                <a href="https://www.google.com" style="color: #ffffff;">Report</a>
                                <br>
                                Status: Ongoing
                                <br>
                                Contact: sga.someone@uky.edu
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card" style="background-color: #18468f; color: #ffffff;">
                        <div class="card__description">
                            <h2 class="heading-secondary">Initiative 2</h2>
                            <p class="description-secondary">
                                Entry Date: 10/05/20
                                <br>
                                <a href="https://www.google.com" style="color: #ffffff;">Report</a>
                                <br>
                                Status: Complete
                                <br>
                                Contact: sga.someone@uky.edu
                            </p>                     
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card" style="background-color: #63656a; color: #ffffff;">
                        <div class="card__description">
                            <h2 class="heading-secondary">Initiative 3</h2>
                            <p class="description-secondary">
                                Entry Date: 10/05/20
                                <br>
                                <a href="https://www.google.com" style="color: #ffffff;">Report</a>
                                <br>
                                Status: Planning
                                <br>
                                Contact: sga.someone@uky.edu
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card" style="background-color: #18468f; color: #ffffff;">
                        <div class="card__description">
                            <h2 class="heading-secondary">Initiative 4</h2>
                            <p class="description-secondary">
                                Entry Date: 10/05/20
                                <br>
                                <a href="https://www.google.com" style="color: #ffffff;">Report</a>
                                <br>
                                Status: Complete
                                <br>
                                Contact: sga.someone@uky.edu
                            </p>                     
                        </div>
                    </div>
                </div>
            </div>
        </div>
                
        <h1 class="initiative-type__title">Sustainability</h1>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card" style="background-color: #3777d7; color: #ffffff;">
                        <div class="card__description">
                            <h2 class="heading-secondary">Initiative 1</h2>
                            <p class="description-secondary">
                                Entry Date: 10/05/20
                                <br>
                                <a href="https://www.google.com" style="color: #ffffff;">Report</a>
                                <br>
                                Status: Ongoing
                                <br>
                                Contact: sga.someone@uky.edu
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card" style="background-color: #18468f; color: #ffffff;">
                        <div class="card__description">
                            <h2 class="heading-secondary">Initiative 2</h2>
                            <p class="description-secondary">
                                Entry Date: 10/05/20
                                <br>
                                <a href="https://www.google.com" style="color: #ffffff;">Report</a>
                                <br>
                                Status: Complete
                                <br>
                                Contact: sga.someone@uky.edu
                            </p>                     
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card" style="background-color: #63656a; color: #ffffff;">
                        <div class="card__description">
                            <h2 class="heading-secondary">Initiative 3</h2>
                            <p class="description-secondary">
                                Entry Date: 10/05/20
                                <br>
                                <a href="https://www.google.com" style="color: #ffffff;">Report</a>
                                <br>
                                Status: Planning
                                <br>
                                Contact: sga.someone@uky.edu
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card" style="background-color: #18468f; color: #ffffff;">
                        <div class="card__description">
                            <h2 class="heading-secondary">Initiative 4</h2>
                            <p class="description-secondary">
                                Entry Date: 10/05/20
                                <br>
                                <a href="https://www.google.com" style="color: #ffffff;">Report</a>
                                <br>
                                Status: Complete
                                <br>
                                Contact: sga.someone@uky.edu
                            </p>                     
                        </div>
                    </div>
                </div>
            </div>
        </div>
                
        <h1 class="initiative-type__title">Health and Wellness</h1>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card" style="background-color: #3777d7; color: #ffffff;">
                        <div class="card__description">
                            <h2 class="heading-secondary">Initiative 1</h2>
                            <p class="description-secondary">
                                Entry Date: 10/05/20
                                <br>
                                <a href="https://www.google.com" style="color: #ffffff;">Report</a>
                                <br>
                                Status: Ongoing
                                <br>
                                Contact: sga.someone@uky.edu
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card" style="background-color: #18468f; color: #ffffff;">
                        <div class="card__description">
                            <h2 class="heading-secondary">Initiative 2</h2>
                            <p class="description-secondary">
                                Entry Date: 10/05/20
                                <br>
                                <a href="https://www.google.com" style="color: #ffffff;">Report</a>
                                <br>
                                Status: Complete
                                <br>
                                Contact: sga.someone@uky.edu
                            </p>                     
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card" style="background-color: #63656a; color: #ffffff;">
                        <div class="card__description">
                            <h2 class="heading-secondary">Initiative 3</h2>
                            <p class="description-secondary">
                                Entry Date: 10/05/20
                                <br>
                                <a href="https://www.google.com" style="color: #ffffff;">Report</a>
                                <br>
                                Status: Planning
                                <br>
                                Contact: sga.someone@uky.edu
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card" style="background-color: #18468f; color: #ffffff;">
                        <div class="card__description">
                            <h2 class="heading-secondary">Initiative 4</h2>
                            <p class="description-secondary">
                                Entry Date: 10/05/20
                                <br>
                                <a href="https://www.google.com" style="color: #ffffff;">Report</a>
                                <br>
                                Status: Complete
                                <br>
                                Contact: sga.someone@uky.edu
                            </p>                     
                        </div>
                    </div>
                </div>
            </div>
        </div>
        #}
    </section>
</main>
{% endblock %}