{% extends 'base.html.twig' %}

{% block title %}Election Tracker{% endblock %}

{% block og %}
    <meta property="og:title" content="UKSGA: Election Info" />
    <meta property="og:image" content="{{asset('/img/hero_tracker.jpg')}}" />
{% endblock %}

{% block body %}

{{ include('components/_header.html.twig', {'modifier': 'election', 'title': 'SGA Election', 'description': 'Please see below for information about the Spring 2021 election candidates. '}) }}

<main>
    <section class="section">
        <h1 class="heading-primary">2021 Official SGA Candidates</h1>
        <br>
        <br>
        <h2 class="heading-secondary">Presedential/VP</h2>
        <div>
            <p class="description"><b>Michael Hawse (Pres)  & Maya Elias (VP)</b></p>
            <p class="description">
            <br>
            Please visit <a href="https://www.hawseelias.com">www.hawseelias.com</a> to see our policies.
            <br>
            <br>
            CATS: A Plan for Real Talk and Real Change.
            <br>
            <br>
            As rising seniors, currently serving as SGA’s Appropriations and Revenue Chair and Overall Senate Chair, we plan to foster effective advocacy in SGA’s Executive Branch.
            <br>
            <br>
            Community = Advocacy & Allyship
            <br>
            We are committed to ensuring SGA and campus decision-making amplifies voices of underrepresented communities by:
            <div style="margin-left: 2rem;">
                <ul>
                    <li> Establishing a student policy-team that mirrors UK’s diverse community and evaluates SGA and campus decisions</li>
                    <li> Advocating for the hiring of more professors, administrators, and therapists of color</li>
                    <li> Increasing SGA grants for multicultural organizations</li>
                </ul>
            </div>
            </p>
            <br>
            <p class="description">
            Accountability
            <br>
            We will hold administration accountable to student needs by:
            <div style="margin-left: 2rem;">
                <ul>
                    <li> Working with administrators to eliminate rising tuition and offset expenses by providing grants for textbooks, access codes, graduate school admissions materials, and campus organizations</li>
                    <li> Advocating for administrators to hold regular office hours</li>
                    <li> Holding Administrative Town Halls to assess inadequate administrative responses to hate crimes and campus safety</li>
                </ul>
            </div>
            </p>
            <br>
            <p class="description">
            Transformation
            <br>
            We will not let SGA sit on the sidelines by:
            <div style="margin-left: 2rem;">
                <ul>
                    <li>Creating a grant to fund undergrad and graduate students’ research</li>
                    <li>Advocating for on and off-campus student issues in the City Hall and State Legislature</li>
                    <li>Lobbying for more sustainable and affordable dining options on-campus</li>
                </ul>
            </div>
            </p>
            <br>
            <p class="description">
            Student Empowerment
            <br>
            We will not disregard student voice by:
            <div style="margin-left: 2rem;">
                <ul>
                    <li>Implementing free parking coupons through students’ linkeblue IDs</li>
                    <li>Increasing the amount of therapy visits and telehealth options to prioritize long-term mental health on and off-campus</li>
                    <li>Creating grants for graduate and undergraduate students’ graduation attire</li>
                </ul>
            </div>
            <br>
            </p>
            <br>
        </div>
        <div>
            <p class="description"><b>Parker Tussey(Pres) & Brandon Brown(VP)</b></p>
            <br>
            <p class="description">
                The University of Kentucky is where the future comes to grow, learn and become a part of the great tradition of Kentucky’s premier four-year institution. The past year has been difficult on our fellow students. COVID-19 has changed much of our college experience, taking a toll on students academically, emotionally and socially. In addition, we have had a reckoning with the social injustices which have become institutionalized in our society for way too long. This is the normal we knew before. Our goal is to Build a Better Normal. 
                <br>
                <br>
                What does that look like?
                <br>
                <br>
                A Better Normal looks like creating opportunities for ALL students to follow their passions. A Better Normal looks like students of ALL backgrounds getting the chance to earn a world-class education in an environment where they can feel safe. A Better Normal looks like an inclusive and diverse community of achievers with the common goals of bettering themselves and bettering their community. A Better Normal looks like transparent, consistent communication from the top down that tells students the truth, not only in times of crisis but to prevent crises from occurring in the first place.
                <br>
                <br>
                Now, this Better Normal will not come all at once, there are still massive hurdles in our way, but it is our commitment to tackle those hurdles together. Let’s build a plan that promotes action, not reaction. Let’s better our community into one we can be proud of. 
                <br>
                <br>
                That’s how we build a Better Normal. 
                <br>
                Tussey-Brown Ticket 
            </p>
            <br>
            <br>
        </div>
        <h2 class="heading-secondary">Undergraduate at-Large</h2>
        <div>
            <br>
            <p class="description"><b>Colin Grimm</b></p>
            <br>
        </div>
        <div>
            <p class="description">
            My name is Colin Grimm and I am a Biology/Pre-med major from Louisville, KY. As an undergraduate senator at large, I will advocate for mental health, sexual assault prevention, and environmental protection. Mental health has always been very important to me and I will continue to fight for the improvement of resources within our University. By creating more opportunities to learn about our resources on campus, more students will be able to get the help that they need. Everywhere on this campus should be a safe space no matter the time of day. By improving our campus safety, our students will be able to walk around campus in the middle of the night and feel completely safe. The University of Kentucky is one of the most beautiful campus in the country year-round. As a senator at large, I will urge for decisions to be made with the most respect to our environment. As your senator at large, I will advocate for the resources and improvements to make our students safer, happier, and healthier.
            </p>
            <br>
        </div>
        <br>
        <h2 class="heading-secondary">College of Agriculture, Food, & Environment</h2>
        <br>
        <p class="description"><b>Haley Nelson</b></p>
        <br>
        <p class="description"><b>Logan Bechanan</b></p>
        <br>
        <br>
        <h2 class="heading-secondary">Graduate School Senator</h2>
        <br>
        <p class="description"><b>Hunter McCormick</b></p>
        <br>
        <br>
        
    </section>

</main>
{% endblock %}