{% extends 'base.html.twig' %}

{% block title %}Election Tracker{% endblock %}

{% block og %}
    <meta property="og:title" content="UKSGA: Election Info" />
    <meta property="og:image" content="{{asset('/img/hero_tracker.jpg')}}" />
{% endblock %}

{% block body %}

{{ include('components/_header.html.twig', {'modifier': 'election', 'title': 'SGA Election', 'description': 'Freshman Senate Application are Live. Please see below for information.'}) }}

<main>
    <section class="section">
        <h1 class="heading-primary">Freshman Senate Election</h1>
        <br>
        <br>
        <h2 class="heading-secondary">Freshmen Election Ballot & Platform Statements </h2>
        <embed src="https://sga-website.s3.us-east-2.amazonaws.com/Freshmen+Election+Platform+Statements%5B26116%5D.pdf" type="application/pdf" width="100%" height="600px" />
    </section>

</main>
{% endblock %}