{% extends 'base.html.twig' %}

{% block title %}Election Tracker{% endblock %}

{% block og %}
    <meta property="og:title" content="UKSGA: Election Info" />
    <meta property="og:image" content="{{asset('/img/hero_tracker.jpg')}}" />
{% endblock %}

{% block body %}

{{ include('components/_header.html.twig', {'modifier': 'election', 'title': 'SGA Election', 'description': 'Please see below for information about the Spring 2021 election. '}) }}

<main>
    <section class="section">
        <h1 class="heading-primary">Unofficial Election Results</h1>
        <br>
        <br>
        <h2 class="heading-secondary">Presidential/VP</h2>
        <p class="description"><b>Michael Hawse (Pres)  & Maya Elias (VP)</b></p>
        <br>
        <h2 class="heading-secondary">Undergraduate at-Large</h2>
            <div>
                <br>
                <p class="description"><b>Catherine Allen</b></p>
                <br>
                <p class="description"><b>Andrew Butkovich</b></p>
                <br>
                <p class="description"><b>Noah Daniel</b></p>
                <br>
                <p class="description"><b>Colin Grimm</b></p>
                <br>
                <p class="description"><b>Youmna Hakoum</b></p>
                <br>
                <p class="description"><b>Andrew Laws</b></p>
                <br>
                <p class="description"><b>Danica Moon</b></p>
                <br>
                <p class="description"><b>David Roy</b></p>
                <br>
                <p class="description"><b>Kelly Whitmore</b></p>
                <br>
                <p class="description"><b>Caroline Yandell</b></p>
                <br>
            </div>
        <h2 class="heading-secondary">Graduate at-Large</h2>
            <div>
                <br>
                <p class="description"><b>Nicole Cossel</b></p>
                <br>
                <p class="description"><b>Shawn Harkins</b></p>
                <br>
            </div>
        <h2 class="heading-secondary">College of Medicine</h2>
            <div>
                <br>
                <p class="description"><b>Amina Anwar</b></p>
                <br>
            </div>
        <h2 class="heading-secondary">College of Agriculture</h2>
            <div>
                <br>
                <p class="description"><b>Logan Bechanan</b></p>
                <br>
            </div>
        <h2 class="heading-secondary">College of Fine Arts</h2>
            <div>
                <br>
                <p class="description"><b>Sophie DeCorte</b></p>
                <br>
            </div>
        <h2 class="heading-secondary">College of Business</h2>
            <div>
                <br>
                <p class="description"><b>Caleb Frush</b></p>
                <br>
            </div>
        <h2 class="heading-secondary">College of Nursing</h2>
            <div>
                <br>
                <p class="description"><b>Claire-Marie Hall</b></p>
                <br>
            </div>
        <h2 class="heading-secondary">College of Communications</h2>
            <div>
                <br>
                <p class="description"><b>Chae Lea</b></p>
                <br>
            </div>
        <h2 class="heading-secondary">Graduate School</h2>
            <div>
                <br>
                <p class="description"><b>Hunter McCormick</b></p>
                <br>
            </div>
        <h2 class="heading-secondary">College of Law</h2>
            <div>
                <br>
                <p class="description"><b>Ashlei McPherson</b></p>
                <br>
            </div>
        <h2 class="heading-secondary">College of Design</h2>
            <div>
                <br>
                <p class="description"><b>Caroline Slicer</b></p>
                <br>
            </div>
        <h2 class="heading-secondary">College of Arts and Sciences</h2>
            <div>
                <br>
                <p class="description"><b>Megan Vanglider</b></p>
                <br>
            </div>
        <h2 class="heading-secondary">College of Pharmacy</h2>
            <div>
                <br>
                <p class="description"><b>Taylor Williams</b></p>
                <br>
            </div>
        <h2 class="heading-secondary">College of Engineering</h2>
            <div>
                <br>
                <p class="description"><b>Sam Wyse</b></p>
                <br>
            </div>
    </section>

</main>
{% endblock %}