{% extends 'base.html.twig' %}

{% block title %}Election Tracker{% endblock %}

{% block og %}
    <meta property="og:title" content="UKSGA: Election Info" />
    <meta property="og:image" content="{{asset('/img/hero_tracker.jpg')}}" />
{% endblock %}

{% block body %}

{{ include('components/_header.html.twig', {'modifier': 'election', 'title': 'SGA Election', 'description': 'Freshman Senate Application are Live. Please see below for information.'}) }}

<main>
    <section class="section">
        <h1 class="heading-primary">Freshman Senate Election</h1>
        <br>
        <br>
        <h2 class="heading-secondary">Info Sessions</h2>
        <p class="description">Attend an Info Session on 9/21/21 (In-Person in the Senate Chamber at 7pm) or 9/24/21 (On <a target="_blank" href="https://uky.zoom.us/j/85466985087" class="link">Zoom</a> at 7pm) </p>
        <br>
        <br>
        <h2 class="heading-secondary">Application</h2>     
        <p class="description u-margin-bottom-medium">
            To apply for Freshman Senate Election, please fill out the application at our <a target="_blank" href="https://uky.campuslabs.com/engage/submitter/form/start/503277" class="link">link.</a>
        </p>
    </section>

</main>
{% endblock %}