{% extends 'base.html.twig' %}

{% block title %}Election Tracker{% endblock %}

{% block og %}
    <meta property="og:title" content="UKSGA: Election Info" />
    <meta property="og:image" content="{{asset('/img/hero_tracker.jpg')}}" />
{% endblock %}

{% block body %}

{{ include('components/_header.html.twig', {'modifier': 'election', 'title': 'SGA Election', 'description': 'Please see below for Spring election information. '}) }}

<main>
    <section class="section">
        <h1 class="heading-primary">Spring 2021 SGA Election</h1>
        <br>
        <p class="description">Apply <a href="https://uky.campuslabs.com/engage/submitter/form/start/461092">here</a> starting Jan. 25th at 9 AM.</p>
        <p class="description">For questions and concerns contact: Gabe Savage, Elections Commissioner sga.elections@uky.edu</p>
        <br>
        <iframe src="https://sga-website.s3.us-east-2.amazonaws.com/SGASPRINGELECTIONPACKET.pdf" width="100%" height="800rem"></iframe>
    </section>

</main>
{% endblock %}