{% extends 'base.html.twig' %}

{% block title %}Election Tracker{% endblock %}

{% block og %}
    <meta property="og:title" content="UKSGA: Election Info" />
    <meta property="og:image" content="{{asset('/img/hero_tracker.jpg')}}" />
{% endblock %}

{% block body %}

{{ include('components/_header.html.twig', {'modifier': 'election', 'title': 'SGA Election', 'description': 'Please see below for Spring election information. '}) }}

<main>
    <section class="section">
        <h1 class="heading-primary">Spring 2021 Student Government Association Election</h1>
        <iframe src="https://sga-website.s3.us-east-2.amazonaws.com/SGASPRINGELECTIONPACKET.pdf" width="90%" height="75%"></iframe>
    </section>

</main>
{% endblock %}