{% extends 'base.html.twig' %}

{% block title %}Election Tracker{% endblock %}

{% block og %}
    <meta property="og:title" content="UKSGA: Election Info" />
    <meta property="og:image" content="{{asset('/img/hero_tracker.jpg')}}" />
{% endblock %}

{% block body %}

{{ include('components/_header.html.twig', {'modifier': 'election', 'title': 'SGA Election', 'description': 'Please see below for the official results of the Spring 2021 election. '}) }}

<main>
    <section class="section">
        <h1 class="heading-primary">Official Election Results</h1>
        <br>
        <br>
        <h2 class="heading-secondary">Presidential/VP</h2>
        <p class="description"><b>*Michael Hawse (Pres) & Maya Elias (VP)</b> (95.38%) Votes: 888</p>
        <br>
        <p class="description">Christopher Rice (Pres) & Elijah Raymond (VP) (4.62%) Votes: 43</p>
        <br>
        <h2 class="heading-secondary">Undergraduate at-Large</h2>
            <div>
                <br>
                <p class="description"><b>*Colin Grimm</b> (31.84%) Votes: 519</p>
                <br>
                <p class="description"><b>*Andrew Butkovich</b> (11.22%) Votes: 183</p>
                <br>
                <p class="description"><b>*Catherine Allen</b> (9.02%) Votes: 147</p>
                <br>
                <p class="description"><b>*Kelly Whitmore</b> (8.04%) Votes: 131</p>
                <br>
                <p class="description"><b>*Andrew Laws</b> (7.98%) Votes: 130</p>
                <br>
                <p class="description"><b>*Danica Moon</b> (7.48%) Votes: 122</p>
                <br>
                <p class="description"><b>*David Roy</b> (7.24%) Votes: 118</p>
                <br>
                <p class="description"><b>*Youmna Hakoum</b> (6.26%) Votes: 102</p>
                <br>
                <p class="description"><b>*Noah Daniel</b> (5.71%) Votes: 93</p>
                <br>
                <p class="description"><b>*Caroline Yandell</b> (5.21%) Votes: 85</p>
                <br>
            </div>
        <h2 class="heading-secondary">Graduate at-Large</h2>
            <div>
                <br>
                <p class="description"><b>*Nicole Cossel</b> (59.49%) Votes: 47</p>
                <br>
                <p class="description"><b>*Shawn Harkins</b> (40.51%) Votes: 32</p>
                <br>
            </div>
        <h2 class="heading-secondary">College of Medicine</h2>
            <div>
                <br>
                <p class="description"><b>*Amina Anwar</b> (100%) Votes: 1</p>
                <br>
            </div>
        <h2 class="heading-secondary">College of Agriculture</h2>
            <div>
                <br>
                <p class="description"><b>*Logan Bechanan</b> (61.61%) Votes: 69</p>
                <br>
                <p class="description">Haley Nelson (38.39%) Votes: 43</p>
                <br>
            </div>
        <h2 class="heading-secondary">College of Fine Arts</h2>
            <div>
                <br>
                <p class="description"><b>*Sophie DeCorte</b> (100%) Votes: 13</p>
                <br>
            </div>
        <h2 class="heading-secondary">College of Business</h2>
            <div>
                <br>
                <p class="description"><b>*Caleb Frush</b> (100%) Votes: 76</p>
                <br>
            </div>
        <h2 class="heading-secondary">College of Nursing</h2>
            <div>
                <br>
                <p class="description"><b>*Claire-Marie Hall</b> (51.11%) Votes: 23</p>
                <br> 
                <p class="description">Jenna Knight (48.89%) Votes: 22</p>
                <br>
            </div>
        <h2 class="heading-secondary">College of Communications</h2>
            <div>
                <br>
                <p class="description"><b>*Chae Lea</b> (100%) Votes: 39</p>
                <br>
            </div>
        <h2 class="heading-secondary">Graduate School</h2>
            <div>
                <br>
                <p class="description"><b>*Hunter McCormick</b> (100%) Votes:</p>
                <br>
            </div>
        <h2 class="heading-secondary">College of Law</h2>
            <div>
                <br>
                <p class="description"><b>*Ashlei McPherson</b> (44.74%) Votes: 17</p>
                <br>
                <p class="description">Henry Cashen (23.68%) Votes: 9</p>
                <br>
                <p class="description">Jay Phillips (15.79%) Votes: 6</p>
                <br>
                <p class="description">Abby Schueler (13.16%) Votes: 5</p>
                <br>
                <p class="description">Isra Shafi (2.63%) Votes: 1</p>
                <br>
            </div>
        <h2 class="heading-secondary">College of Design</h2>
            <div>
                <br>
                <p class="description"><b>*Caroline Slicer</b> (100%) Votes: 8</p>
                <br>
            </div>
        <h2 class="heading-secondary">College of Arts and Sciences</h2>
            <div>
                <br>
                <p class="description"><b>*Megan Vanglider</b> (100%) Votes: 83</p>
                <br>
            </div>
        <h2 class="heading-secondary">College of Pharmacy</h2>
            <div>
                <br>
                <p class="description"><b>*Taylor Williams</b> (100%) Votes: 4</p>
                <br>
            </div>
        <h2 class="heading-secondary">College of Engineering</h2>
            <div>
                <br>
                <p class="description"><b>*Sam Wyse</b> (69.91%) Votes:86</p>
                <br>
                <p class="description">Maryrose Ramsey (30.08%) Votes: 37</p>
                <br>
            </div>
        <h2 class="heading-secondary">Election Board Signature of Approval</h2>
            <div>
                <br>
                <p class="description">Gabriel Savage</p>
                <br>
                <p class="description">Kendall Hoofe</p>
                <br>
                <p class="description">Ty’Ana Upshaw</p>
                <br>
                <p class="description">Nolan Warren</p>
                <br>
                <p class="description">Grace Gainer</p>
                <br>
                <p class="description">Trace Sickles</p>
                <br>
            </div>
        <h2 class="heading-secondary">Supreme Court Signature of Approval</h2>
            <div>
                <br>
                <p class="description">Fletcher M. Lyon</p>
                <br>
                <p class="description">Hayley Abbott</p>
                <br>
                <p class="description">Noah Lewis</p>
                <br>
                <p class="description">Daniel Williams</p>
                <br>
                <p class="description">Ashlei V. McPherson</p>
                <br>
                <p class="description">Zac Losey</p>
                <br>
            </div>
    </section>

</main>
{% endblock %}