{% extends 'base.html.twig' %}

{% block title %}Election Tracker{% endblock %}

{% block og %}
    <meta property="og:title" content="UKSGA: Election Info" />
    <meta property="og:image" content="{{asset('/img/hero_tracker.jpg')}}" />
{% endblock %}

{% block body %}

{{ include('components/_header.html.twig', {'modifier': 'election', 'title': 'SGA Election', 'description': 'Freshman Senate Election. Please see below for information.'}) }}

<main>
    <section class="section">
        <h1 class="heading-primary">Freshman Senate Election Voting</h1>
        <br>
        <br>
        <h2 class="heading-secondary">Voting</h2>
        <p class="description u-margin-bottom-small">In order to vote please visit this <a target="_blank" href="https://uky.campuslabs.com/engage/submitter/election/start/508570" class="link">link.</a> </p>
        <p class="description u-margin-bottom-small">Any questions, comments, concerns, or errors can be reported to Gabe Savage, Elections Board Commissioner (sga.elections@uky.edu) and Isaiah Villarreal, SGA Advsior (Isaiah.villarreal@uky.edu).</p>
    </section>

</main>
{% endblock %}