{% extends 'base.html.twig' %}

{% block title %}Election Tracker{% endblock %}

{% block og %}
    <meta property="og:title" content="UKSGA: Election Info" />
    <meta property="og:image" content="{{asset('/img/hero_tracker.jpg')}}" />
{% endblock %}

{% block body %}

{{ include('components/_header.html.twig', {'modifier': 'election', 'title': 'SGA Elections', 'description': 'Important Upcoming Election Information. Please see below for information.'}) }}

<main>
    <section class="section">
        <h1 class="heading-primary">Election Info</h1>
        <br>
        <br>
        <h4 style="display:inline">Applications Open: </h4><p style="display:inline">Currently on BBnvolved</p><br>
        <h4 style="display:inline">Close: </h4><p style="display:inline">January 31st, 5:00 PM</p><br>
        <h4 style="display:inline">Link: </h4><a style="display:inline" target="_blank" href="https://uky.campuslabs.com/engage/submitter/form/start/520455">https://uky.campuslabs.com/engage/submitter/form/start/520455</a><br>
        <br>
        <h3 style="display:inline">Spring elections info sessions via Zoom:  </h3>
        <p>January 18th at 7:00pm - Senators Info session</p>
        <h4 style="display:inline">Link: </h4><a style="display:inline" target="_blank" href="https://uky.zoom.us/j/85751995543">https://uky.zoom.us/j/85751995543</a><br>
        <p>January 20th at 7:00pm  - President/VP Info session</p>
        <h4 style="display:inline">Link: </h4><a style="display:inline" target="_blank" href="">TBD</a><br>
        <br>
        <p>Any questions, comments, concerns, or errors can be reported to Gabe Savage, Elections Board Commissioner (sga.elections@uky.edu) or Isaiah Villarreal, SGA Advsior (Isaiah.villarreal@uky.edu).</p>
    </section> 

</main>
{% endblock %}