{% extends 'base.html.twig' %}

{% block title %}Election Tracker{% endblock %}

{% block og %}
    <meta property="og:title" content="UKSGA: Election Info" />
    <meta property="og:image" content="{{asset('/img/hero_tracker.jpg')}}" />
{% endblock %}

{% block body %}

{{ include('components/_header.html.twig', {'modifier': 'election', 'title': 'SGA Elections', 'description': 'Important Upcoming Election Information. Please see below for information.'}) }}

<main>
    <section class="section">
        <h1 class="heading-primary">Election Info</h1> 
        <br>
        <br>
        <h4 style="display:inline">Applications Open: </h4><p style="display:inline">Currently on BBnvolved</p><br> 
        <h4 style="display:inline">Close: </h4><p style="display:inline">January 31st, 5:00 PM</p><br>
        <h4 style="display:inline">Link: </h4><a style="display:inline" target="_blank" href="https://uky.campuslabs.com/engage/submitter/form/start/520455">https://uky.campuslabs.com/engage/submitter/form/start/520455</a><br>
        <br>
        <h3 style="display:inline">For information on how to apply please visit the link provided:  </h3>
        <a style="display:inline" target="_blank" href="https://sga-website.s3.us-east-2.amazonaws.com/SGA+Spring+Election+Info+Session.pdf">SGA_Spring_Election_Info_Session.pdf</a><br>
        <br>
        <h3 style="display:inline">Spring Election Platform Statements:  </h3>
        <a style="display:inline" target="_blank" href="https://sga-website.s3.us-east-2.amazonaws.com/2022+SGA+SPRING+ELECTION+PLATFORM+STATEMENTS.pdf">SGA_SPRING_ELECTION_PLATFORM_STATEMENTS.pdf</a><br>
        <br>
        <p>Any questions, comments, concerns, or errors can be reported to Gabe Savage, Elections Board Commissioner (sga.elections@uky.edu) or Isaiah Villarreal, SGA Advsior (Isaiah.villarreal@uky.edu).</p>
    </section>  

</main>
{% endblock %}