{% extends 'base.html.twig' %}

{% block title %}Election Tracker{% endblock %}

{% block og %}
    <meta property="og:title" content="UKSGA: Election Info" />
    <meta property="og:image" content="{{asset('/img/hero_tracker.jpg')}}" />
{% endblock %}

{% block body %}

{{ include('components/_header.html.twig', {'modifier': 'election', 'title': 'SGA Election', 'description': 'Freshman Senate Election. Please see below for information.'}) }}

<main>
    <section class="section">
        <h1 class="heading-primary">Freshman Senate Election Results</h1>
        <br>
        <br>
        <h2 class="heading-secondary">Winners:  </h2><a target="_blank" href="https://sga-website.s3.us-east-2.amazonaws.com/tally.jpg" class="link">Results</a>
        <p class="description u-margin-bottom-small">Chase Stevens: stevens.chase@uky.edu<br>Zachary Wasson: zack.wasson@uky.edu</p>
        <h2 class="heading-secondary">Run-off winners:  </h2><a target="_blank" href="https://sga-website.s3.us-east-2.amazonaws.com/tally2.jpg" class="link">Results</a>
        <p class="description u-margin-bottom-small">Kayla Bostic: kayla.bostic@uky.edu<br>Kevin Sanders: kevin.sanders@uky.edu</p>
        <p class="description u-margin-bottom-small">Any questions, comments, concerns, or errors can be reported to Gabe Savage, Elections Board Commissioner (sga.elections@uky.edu) and Isaiah Villarreal, SGA Advsior (Isaiah.villarreal@uky.edu).</p>
    </section>

</main>
{% endblock %}