{% extends 'base.html.twig' %}

{% block body %}

{{ include('components/_header.html.twig', {'modifier': team.name, 'title': "The " ~ team.name|capitalize ~ " Team", 'description': team.longDescription}) }}

<main>
    <section class="section">
        {{ include('branches/_branch-roster.html.twig', {'team': team}) }}
    </section>
</main>

{% endblock %}