{% extends 'base.html.twig' %}

{% block title %}Branches{% endblock %}

{% block body %}
{{ include('components/_header.html.twig', {'modifier': "branches", 'title': "Our Branches", 'description': "Lorem ipsum dolor
        sit amet consectetur adipisicing elit. Dignissimos dolorum veniam fuga perspiciatis? Similique doloremque repudiandae rem!
        Nisi maxime sunt veniam voluptate velit odit aliquam, saepe dolore eaque, asperiores quisquam."}) }}

<main>
    <section class="section container-fluid">
        <div class="row">
        {% for team in teams %}
            {{ include('components/_branch-card.html.twig', {'team': team}) }}
        {% endfor %}
        </div>
    </section>
</main>

{% endblock %}
