{% extends 'base.html.twig' %}

{% block body %}

<header class="header header--judicial">
    <div class="header__text-container">
        <h1 class="heading-primary heading-primary--white">
            The Judicial Branch
        </h1>
        <p class="description description--white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia accusamus tenetur expedita illum deserunt cupiditate ducimus soluta vitae saepe, dolor iusto quasi, repellat quae. Nobis, quaerat! Iste in veniam quisquam.</p>
    </div>
</header>

<main>
    <section class="section">
        {{ include('branches/_branch-roster.html.twig', {'team': team}) }}
    </section>
</main>

{% endblock %}