{% extends 'admin/admin_base.html.twig' %}

{% block title %}Add a Team Member{% endblock %}

{% block body %}

<div class="team-container__title-box u-margin-bottom-medium">
    <h1 class="team-container__title heading-secondary">Add a Team Member</h1>
    {% if referer is defined %}
        <a href="{{ referer }}" class="btn btn-default btn--blue">&larr; Go Back</a>
    {% endif %}
</div>

{{ include('team/_member-form.html.twig', {'form': form}) }}

{% endblock %}

{% block javascripts %}
    <script src=" {{ asset('build/js/app.js') }} "></script>
{% endblock %}

