{% extends 'admin/admin_base.html.twig' %}

{% block title %}Records{% endblock %}

{% block body %}

<div class="team-container u-margin-bottom-medium">
    {{ include('components/_records-container.html.twig', {'managingEntities': [asa, ar, oe, fullSenate]}) }}
</div>

{% endblock %}
