.admin-inputs {
    position: relative;
    &__name-container {
        display: flex;
    }
    &__name {
        display: flex;
        flex-direction: column;
        &:first-child {
            padding-right: 3rem;
        }
    }
    &__text-input {
        margin-bottom: 2rem;
        width: 100%;
        font-size: 1.4rem;
        padding: 1rem;
        padding-left: 1.7rem;
        border: 2px solid var(--color-grey-light-3);
        outline: none;
        border-radius: var(--radius-small);
        box-shadow: none;
        transition: all .4s;
        &:focus {
            border: 2px solid var(--color-primary-light);
            box-shadow: var(--shadow-blurry-light);
        }
    }
    &__label {
        font-family: var(--font-sans-serif);
        color: var(--color-grey-dark-3);
        font-weight: 400;
        font-size: 1.2rem;
        text-transform: uppercase;
        &--dark {
            color: var(--color-primary);
        }
    }

    &__image-input {
        // &::before { 
        //     font-family: "Material Icons"; 
        //     content: '\e439'; 
        //     margin-right: 1rem;
        //     font-size: 1.4rem;
        // }
    }

    &__image-preview {
        max-width: 25rem;
        max-height: 25rem;
        border-radius: var(--radius-small);
        overflow: hidden;
        &::before {
            content: "Uploaded File";
        }
    }

    input[type="file"] {
        display: none;
    }

    select {
        height: 4.2rem;
        width: 100%;
        font-family: var(--font-sans-serif);
        border: 2px solid var(--color-grey-light-3);
        outline: none;
        text-transform: capitalize;
        transition: all .4s;
        &:focus {
            border: 2px solid var(--color-primary-light);
            box-shadow: var(--shadow-blurry-light);
        }
    }

    &__bool-input {
        width: 100%;
        margin-bottom: 2rem;
    }

    &__action-bar {
        display: flex;
    }

    &__action-item {
        &:first-child {
            margin-right: auto;
        }
    }

    &__submit {
        text-transform: uppercase;
        font-size: 1.4rem;
        font-weight: 700;
        border: none;
        outline: none;
        border-radius: var(--radius-small);
        color: #fff;
        background-color: var(--color-primary);
        box-shadow: var(--shadow-dark);
        padding: 1rem 2rem;
        &--dark {
            box-shadow: var(--shadow-blurry-light);
        }
    }

    &__icon {
        margin-right: .5rem;
    }

    &__date-input {
        display: flex;
        margin-bottom: 2rem;
    }

    &__date-group {
        display: flex;
        flex-direction: column;
        margin-right: 2rem;
    }
}