$side-length: 28%;

.card {
    box-shadow: var(--shadow-light);
    border-radius: var(--radius-small);
    display: flex;
    padding: 1.5rem 2rem;
    margin: 1.5rem 2rem;
    position: relative;

    @include respond(phone) {
        flex-direction: column;
        margin: 3rem 0;
    }

    &__image-container {
        overflow: hidden;
        background-color: rebeccapurple;
        margin-right: 3rem;
        flex: 0 0 40%;
        z-index: 100;
        @include respond(phone) {
            margin: -1.5rem -2rem 0 -2rem;
        }
    }
    &__image {
        width: 100%;
    }
    &__description {
        align-self: stretch;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;
        @include respond(phone) {
            margin-top: 2rem;
        }
    }
}