.header {
    height: 90vh;
    background-image: linear-gradient(to bottom right, #18468f, rgba(24,70,143,0.3)), url('../../img/header_hero.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding-top: 5rem;
    padding-bottom: 5rem;

    @supports (clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%)) or (-webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%)) {
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
    }

    @include respond(tab-port) {
        @supports (clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%)) or (-webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%)) {
            clip-path: polygon(0 0, 100% 0, 100% 96%, 0% 100%);
        }
    }

    &--branches {
        background-image: linear-gradient(to bottom right, #18468f, rgba(24,70,143,0.3)), url('../../img/hero_branches.jpg');
    }

    &--executive {
        background-image: linear-gradient(to bottom right, #18468f, rgba(24,70,143,0.3)), url('../../img/hero_executive.jpg');
    }

    &--legislative {
        background-image: linear-gradient(to bottom right, #18468f, rgba(24,70,143,0.3)), url('../../img/hero_legislative.jpg');
    }

    &--judicial {
        background-image: linear-gradient(to bottom right, #18468f, rgba(24,70,143,0.3)), url('../../img/hero_judicial.jpg');
    }

    &--services {
        background-image: linear-gradient(to bottom right, #18468f, rgba(24,70,143,0.3)), url('../../img/hero_services.jpg');
    }

    &--funding {
        background-image: linear-gradient(to bottom right, #18468f, rgba(24,70,143,0.3)), url('../../img/hero_funding.jpg');
    }

    &--constitution {
        background-image: linear-gradient(to bottom right, #18468f, rgba(24,70,143,0.3)), url('../../img/hero_constitution.jpg');
    }

    &--records{
        background-image: linear-gradient(to bottom right, #18468f, rgba(24,70,143,0.3)), url('../../img/hero_records.jpg');
    }

    &__text-container {
        width: 50vw;
        margin-left: 10vw;
        @include respond(tab-port) {
            width: 100%;
            padding: 4rem;
            margin: 0;
        }
    }
}