.link,
.link:link,
.link:visited {

    text-decoration: none;
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 700;
    position: relative;
    z-index: 999;
    color: inherit;

    &::after {
        position: absolute;
        content: '';
        height: .6rem;
        width: 106%;
        background-color:var(--color-primary);
        left: -3%;
        bottom: 0;
        z-index: 10;
        transition: height .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        mix-blend-mode: overlay;
    }

    &:hover {
        color: #fff;
        &::after {
            height: 100%;
        }
    }

    &--primary {
        color: var(--color-primary);
    }

}