.nav-header {
    display: flex;
    box-shadow: var(--shadow-light);
    flex-wrap: wrap;

    &__nav-toggle {
        display: none;
        justify-content: center;
        align-items: center;
        @include respond(tab-port) {
            display: flex;
        }
    }

    &__nav-toggle-link,
    &__nav-toggle-link:link,
    &__nav-toggle-link:visited {
        text-decoration: none;
        padding: 0 1rem;
    }

    &__logo-container {
        flex: 0 0 25rem;
        margin-right: auto;
    }

    &__logo {

    }

    &__nav {
        align-self: flex-end;
        padding-left: 2rem;
        padding-right: 2rem;
        @include respond(tab-port) {
            display: none;
            flex-basis: 100%;
            padding: 0;
        }
    }

}

.nav-primary {
    display: flex;
    align-items: center;
    list-style: none;

    @include respond(tab-port) {
        display: block;
    }

    & > * {
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__logo {
        margin-right: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__item {
        height: 100%;
        align-self: flex-end;
        box-sizing: border-box;
        &--active {
            & > a.nav-primary__link {
                color: var(--color-primary);
                border-bottom: 3px solid var(--color-primary) !important;
            }
            @include respond(tab-port) {
                & > a.nav-primary__link {
                    background-color: var(--color-primary);
                    color: #fff;
                }
            }
        }
    }

    &__link,
    &__link:link,
    &__link:visited {
        font-size: 1.4rem;
        text-decoration: none;
        color: var(--color-grey-dark-3);
        padding-bottom: 1rem;
        border-bottom: 3px solid transparent;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        transition: all .3s;
        &:hover {
            color: var(--color-primary);
            border-bottom: 3px solid var(--color-primary);
        }
        @include respond(tab-port) {
            width: 100%;
            padding: 1rem 2rem;
            border-bottom: var(--line);
            &:hover {
                color: var(--color-primary);
                border-bottom: var(--line);
                background-color: var(--color-grey-light-1);
            }
        }
    }
}