.record {
    padding: 3rem 0 2rem 0;
    width: 100%;
    display: flex;
    font-family: var(--font-sans-serif);
    border-bottom: var(--line);
    &:first-child {
        border-top: var(--line);
    }
    @include respond(phone) {
        flex-direction: column;
    }
    &__information {
        position: relative;
        margin-right: 4rem;
        min-width: 10rem;
        @include respond(phone) {
            &:not(:last-child) {
                margin-bottom: 2rem;
            }
        }
        &::before {
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: var(--font-weight-medium);
            position: absolute;
            top: -1.2rem;
        }
        &--entity-name {
            @include respond(phone) {
                margin-right: auto;
            }
            &::before {
                content: 'Record Type';
            }
        }
        &--approved-date {
            margin-right: auto;
            &::before {
                content: 'Meeting Date';
            }
        }
        &--link,
        &--link:link,
        &--link:visited {
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--color-primary-light);
            transition: all .3s;
            @include respond(phone) {
                width: 100%;
                justify-content: flex-start;
            }
            &:hover {
                color: var(--color-primary-dark);
            }
        }
    }

    &__icon {
        margin-right: 1rem;
    }
}