.team-member-profile {
    display: flex;
    padding: 1.5rem;
    border-radius: var(--radius-medium);
    box-shadow: var(--shadow-light);

    &__image-container {
        flex: 0 0 10%;
        max-width: 10rem;
    }

    &__image {
        width: 100%;
        border-radius: 50%;
    }

    &__contact-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin: 0 2rem;
        &:last-child {
            flex: 1;
        }
    }

    &__link,
    &__link:link,
    &__link:visited {
        text-decoration: none;
        color: currentColor;
    }

    &__contact-item {
        font-family: var(--font-sans-serif);
        font-size: 1.4rem;
        &--label {
            text-transform: uppercase;
            font-size: 1.2rem;
            font-weight: var(--font-weight-medium);
            display: flex;
        }
        &--icon {
            margin-right: .5rem;
        }
    }
}