{% extends 'base.html.twig' %}

{% block title %}Records{% endblock %}

{% block og %}
    <meta property="og:title" content="UKSGA: Records" />
    <meta property="og:image" content="{{asset('/img/hero_records.jpg')}}" />
{% endblock %}

{% block body %}

{{ include('components/_header.html.twig', {'modifier': 'records', 'title': 'Most Recent Records', 'description': 'Below, you will find 
a list of our most recent records. If you cannot find what you are looking for, please visit the archive tab. If you still cannot find what you are looking for please contact our Chief of Staff.'}) }}

<main>
    <section class="section">
        <h1 class="heading-primary">Why?</h1>
        <p class="description u-margin-bottom-small">
            While it is required by law that we make these records readily available to the general public, we are more
            motivated by creating a transparent culture in which students understand how their money is being spent.
        </p>
        <p class="description u-margin-bottom-small">
            We allocate funds to a variety of registered student organizations. We create legislation that describes
            election protocols. We create initiatives like child care grants that enable parent-students to mitigate
            the costs of child care while they pursue their education here at the University of Kentucky.
        </p>
        <p class="description u-margin-bottom-small">
            We spend your money. We feel like you should know where it goes. With that in mind, we want you to have 
            access to the minutes and voting records of all the meetings in which we discuss initiatives and funding
            appropriations.
        </p>
    </section>
    <section class="section">
        <h1 class="heading-primary">Records</h1>
        {% if managingEntities is defined %}
            {% for entity in managingEntities %}
                {% if entity.meetingRecords|length != 0 %}
                    <article class="record-group">
                        <div class="record-group__title-box">
                            <h3 class="record-group__title">{{ entity.name|upper }}</h3>
                        </div>
                        <div class="record-group__record-box">
                            {% for record in entity.recentRecords %}
                                {{ include('/components/_record.html.twig', {'record': record}) }}
                            {% endfor %}
                        </div>
                    </article>
                {% endif %}
            {% endfor %}
        {% else %}
            <p class="description description--callout">There are no records to display right now. If you need a record, please reach out directly to 
                Susie Smith at chiefofstaff@uksga.org</p>
        {% endif %}
    </section>
</main>

{% endblock %}