{% extends 'base.html.twig' %}

{% block title %}Services{% endblock %}

{% block body %}

{{ include('components/_header.html.twig', {'modifier': "services", 'title': "Our Services", 'description': "Lorem ipsum dolor
        sit amet consectetur adipisicing elit. Dignissimos dolorum veniam fuga perspiciatis? Similique doloremque repudiandae rem!
        Nisi maxime sunt veniam voluptate velit odit aliquam, saepe dolore eaque, asperiores quisquam."}) }}

<main>
    <section class="section">
        {% for service in services %}
            {{ include('components/_service.html.twig', {'service': service}) }}
        {% endfor %}
    </section>
</main>

{% endblock %}