.u-margin-bottom-huge {
    margin-bottom: 8rem;
}
.u-margin-bottom-large {
    margin-bottom: 6rem;
}
.u-margin-bottom-medium {
    margin-bottom: 4rem;
}
.u-margin-bottom-small {
    margin-bottom: 2rem;
}
.u-margin-bottom-xsmall {
    margin-bottom: 1rem;
}
.u-margin-top-small {
    margin-top: 1rem;
}
.u-margin-top-medium {
    margin-top: 2rem;
}
.u-margin-top-large {
    margin-top: 4rem;
}