$hamburger-layer-width                     : 3rem !default;
$hamburger-layer-height                    : .2rem !default;
$hamburger-layer-spacing                   : .6rem !default;
$hamburger-layer-color                     : var(--color-primary);