$--color-primary: #18468f;
$--color-primary-dark: #202c5f;
$--color-primary-darkest: #141e3f;

$--color-grey-light-1: #f9f9f9;
$--color-grey-light-2: #dfe1e5;
$--color-grey-light-3: #c2c6cc;

$--color-grey-dark-1: #2c2a29;
$--color-grey-dark-2: #63656a;
$--color-grey-dark-3: #6f787c;