.section {
    padding: 2rem 20rem;
    @include respond(tab-port) {
        padding: 2rem 4rem;
    }
    &:first-child {
        margin-top: 6rem;
    }
}

.container-fluid {
    width: 100%;
}

.container-admin-content {
    display: flex;
    padding: 4rem;
}

.container-admin-body {
    margin-left: 5rem;
    flex: 1;
}