{% extends 'base.html.twig' %}

{% block body %}

<main>
    <section class="section">
        <h1 class="heading-primary">Voting</h1>
        
        <p class="description u-margin-bottom-small"><a href="https://uky.campuslabs.com/engage/submitter/election/start/253790">VOTING LINK: https://uky.campuslabs.com/engage/submitter/election/start/253790</a></p>
        
        <p class="description u-margin-bottom-small">Online voting will begin on Wednesday Feb 27th at 9am and will be available throughout the election until Thursday at 6pm. Voting can be done by simply logging in to your BBNvolved account and voting at this link: . The option to vote will be shown in a blue box on their home page.</p>

        <p class="description u-margin-bottom-small">There are also several option to vote in person, which are listed below.</p>
        
        <h3>Wednesday February 27th</h3>
        <p>Whitehall 9am-4pm</p>
        <p>Student Center 6pm-9pm</p>
        <h3>Thursday February 28th</h3>
        <p>Whitehall 9am-4pm</p>
    </section>
</main> 

{% endblock %}