<header class="header header--{{modifier}}">
    <div class="header__text-container">
        <h1 class="heading-primary heading-primary--white">
            {{title}}
        </h1>
        <p class="description description--white">{{description}}</p>
    </div>
</header>