<article class="legislation">
    <div class="legislation__name">{{ name|title }}</div>
    <a href="{{ link }}" target="_blank" class="legislation__link"><i class="material-icons md-16 record__icon">launch</i>LINK</a>
</article>