<div class="record">
    <span class="record__information record__information--entity-name">Full Senate Minutes</span>
    <span class="record__information record__information--approved-date">09/08/2018</span>
</div>