{% extends 'base.html.twig' %}

{% block title %}Funding{% endblock %}

{% block og %}
    <meta property="og:title" content="UKSGA: Funding" />
    <meta property="og:image" content="{{asset('img/hero_funding.jpg')}}" />
{% endblock %}

{% block body %}

{{ include('components/_header.html.twig', {'modifier': "funding", 'title': "Funding", 'description': "Last year the 
Appropriations and Revenue Committee allocated a total of $190,000 to 125 different Registered Student Organizations. 
This fiscal year SGA wants to reach even more organizations than we have in the previous years. We plan to do this by 
reaching out to more organizations through giving examples on social media. 
"}) }}

<main>
    <section class="section">
        <h1 class="heading-primary">PPE Funding</h1>
        <p class="description u-margin-bottom-small">
             Paragraph goes here
        </p>
        <p class="description u-margin-bottom-medium">
            To apply for PPE funding, fill out the form at our <a target="_blank" href="https://uky.campuslabs.com/engage/submitter/form/start/432225" class="link">BBNVolved Page.</a>
        </p>

        <h1 class="heading-primary">Types of Funding</h1>
        <p class="description u-margin-bottom-small">
            For Senate Special Projects SGA allocated 40 different projects totaling $102,000. 
            We allocated $13,500 in club sports grants, and gave $13,000 to academic or professional
            conference grants. SGA provided $16,000 in total for service grants and allocated
            12 multicultural inclusion grants, totalling $17,000. We allocated $29,000 to 41 general funding grants. 
        </p>
        <p class="description u-margin-bottom-medium">
            To apply for any of these types of funding, fill out the form at our <a target="_blank" href="https://uky.campuslabs.com/engage/submitter/form/start/219147" class="link">BBNVolved Page.</a>
        </p>

        <article class="funding-type">
            <h3 class="funding-type__title">General Funding Grant</h3>
            <p class="funding-type__content">
                General Funding Grants are all purpose funding requests, including travel, 
                programming, etc, for Registered Student Organizations. The maximum for this grant is $750.
            </p>
            <div class="funding-type__amount-container">
                 <span class="funding-type__amount-header">Max Amount: $750</span>
            </div>
        </article>

        <article class="funding-type">
            <h3 class="funding-type__title">Club Sports Grant</h3>
            <p class="funding-type__content">
                Club Sport Grants are reserved for registered Club Sport Teams wishing to obtain 
                funding for a project, event and/or supplies.  The maximum for this grant is $1,500.
            </p>
            <div class="funding-type__amount-container">
                 <span class="funding-type__amount-header">Max Amount: $1,500</span>
            </div>
        </article>

        <article class="funding-type">
            <h3 class="funding-type__title">Multicultural Inclusion Grant</h3>
            <p class="funding-type__content">
                Multicultural Inclusion Grant is a funding request in which any Registered Student 
                Organization may apply for funding for the purpose of promoting diversity, inclusion, 
                and/or the spread of multicultural values throughout the University of Kentucky Student Body.
            </p>
            <div class="funding-type__amount-container">
                 <span class="funding-type__amount-header">Max Amount: $1,500</span>
            </div>
        </article>

        <article class="funding-type">
            <h3 class="funding-type__title">Service Grants</h3>
            <p class="funding-type__content">
                Service Grants are intended for a community service project sponsored by a 
                Registered Student Organization. The maximum for this grant is $1,500.
            </p>
            <div class="funding-type__amount-container">
                 <span class="funding-type__amount-header">Max Amount: $1,500</span>
            </div>
        </article>

        <article class="funding-type">
            <h3 class="funding-type__title">Senate Special Project</h3>
            <p class="funding-type__content">
                Senate Special Projects are funding requests intended to benefit the student body that must be 
                sponsored by a Student Government Senator. The maximum for this grant is $2,500. 
                Please contact a Senator and visit their office hours to discuss funding for a Senate Special Project.
            </p>
            <p class="funding-type__content">
                To see a list of available senators, check out <a target="_blank" href="https://docs.google.com/spreadsheets/d/1cK4A-mjvD2Ysd8stBWM8p6g3IRF_FGiF7S5A0_z1E9I/edit?usp=sharing" class="link">this Google Sheet.</a>
            </p>
            <div class="funding-type__amount-container">
                 <span class="funding-type__amount-header">Max Amount: $2,500</span>
            </div>
        </article>

        <article class="funding-type">
            <h3 class="funding-type__title">Academic and Professional Conference Grant</h3>
            <p class="funding-type__content">
                An academic or professional conference grant is funding request in which any registered organization 
                may apply to obtain funding for an Academic or Professional Conference that is closely relatable to the 
                purpose of the registered student organization. 
            </p>
            <div class="funding-type__amount-container">
                 <span class="funding-type__amount-header">Max Amount: $1,500</span>
            </div>
        </article>
    </section>

    <section class="section">
        <h1 class="heading-primary u-margin-bottom-medium">How to Receive Funding</h1>
        <ol class="funding-type__list" type="1">
            <li class="funding-type__list-item">
                Complete this online form. If you have any additional questions, contact Michael Hawse at funding@uksga.org.
            </li>
            <li class="funding-type__list-item">
                Present the request in person at the next Appropriations & Revenue (A&R) Committee Meeting. 
            </li>
            <li class="funding-type__list-item">
                If your proposal is approved by the A&R Committee, you will need to contact Lynn Fresca 
                within the next FIVE (5) business days. If you fail to do so, your grant will be voided.
            </li>
            <li class="funding-type__list-item">
                To receive full allocated funding the RSO must complete the required evaluation survey provided by the Appropriations and Revenue committee within 2 weeks following the sponsored event.
            </li>
        </ol>
    </section>

    <section class="section">
        <h1 class="heading-primary">Important Information</h1>
        <article class="funding-type">
            <h3 class="funding-type__title">Reimbursement Policy</h3>
            <p class="funding-type__content">
                Student Government funds organizations by reimbursement only. All receipts must be 
                submitted to the SGA office manager within 30 days of the approved event, project or 
                purchase. If receipts are not turned in within the 30 day window, the funding will be 
                forfeited. Groups can only be funded once per fiscal year.
            </p>
        </article>
        <article class="funding-type">
            <h3 class="funding-type__title">Prohibited Items</h3>
            <p class="funding-type__content">
                Student Government will not provide funding for the following items: food and beverages, 
                non-university approved vendors, subscriptions, taxes, management or consulting fees, 
                organizational membership dues, personal gifts, donations or contributions, financial aid, 
                scholarships, expenses incurred prior to Student Government approval, all equipment, awards, 
                trophies or prizes.
            </p>
        </article>
    </section>
</main>

{% endblock %}