{% extends 'base.html.twig' %}

{% block title %}Funding{% endblock %}

{% block og %}
    <meta property="og:title" content="UKSGA: Funding" />
    <meta property="og:image" content="{{asset('img/hero_funding.jpg')}}" />
{% endblock %}

{% block body %}

{{ include('components/_header.html.twig', {'modifier': "funding", 'title': "Financial", 'description': "UKSGA is proud to allocate money to registered student organizations, as well as students in need. This page includes information on the many ways that students can receive financial assistance from UKSGA. It also includes important financial resources for UK students. 
"}) }}

<main>
    <section class="section">
        <h1 class="heading-primary">PPE Funding</h1>
        <p class="description u-margin-bottom-small">
            Starting this year, UKSGA will be offering a PPE Grant to student organizations needing it in order to give them the ability to adhere to campus and state regulations. The PPE which SGA will be providing includes disposable masks, hand sanitizer, and disinfectant wipes. Unlike other SGA Grants, Registered Student Organizations can apply for this grant twice per semester. If there are any questions or concerns, please reach out to Appropriations & Revenue Chairman at sga.funding@uky.edu </p>
        <p class="description u-margin-bottom-medium">
            To apply for PPE funding, please fill out the form at our <a target="_blank" href="https://uky.campuslabs.com/engage/submitter/form/start/499007" class="link">BBNVolved Page.</a>
        </p>

        <h1 class="heading-primary">Student Organization Funding Grant</h1>
        <p class="description u-margin-bottom-small">
           UKSGA is proud to offer $130,000 to registered student organizations through Student Organization Funding Grants. These take the form of General Funding Grants, Service Grants, Club Sports Grants, Multicultural Inclusion Grants, Academic and Professional Grants, and Senate Special Projects. Please see descriptions below if you are eligible for any of these grants. 
        </p>
        <p class="description u-margin-bottom-medium">
            Registered student organizations can apply for each of our Student Organization Funding Grants through this <a target="_blank" href="https://uky.campuslabs.com/engage/submitter/form/start/490046" class="link">form.</a>
        </p>

        <article class="funding-type">
            <h3 class="funding-type__title">General Funding Grant</h3>
            <p class="funding-type__content">
                General Funding Grants are all purpose funding requests, including travel, programming, etc, for Registered Student Organizations. Student organizations receiving this grant may receive up to $750.
            </p>
            <div class="funding-type__amount-container">
                 <span class="funding-type__amount-header">Max Amount: $750</span>
            </div>
        </article>

        <article class="funding-type">
            <h3 class="funding-type__title">Service Grant</h3>
            <p class="funding-type__content">
                Service Grants are intended for a community service project sponsored by a Registered Student Organization. Student organizations receiving this grant may receive up to $1,500.
            </p>
            <div class="funding-type__amount-container">
                 <span class="funding-type__amount-header">Max Amount: $1500</span>
            </div>
        </article>

        <article class="funding-type">
            <h3 class="funding-type__title">Club Sport Grant</h3>
            <p class="funding-type__content">
                Club Sport Grants are reserved for registered Club Sport Teams wishing to obtain funding for a project, event and/or supplies. Student organizations receiving this grant may receive up to $1,500.
            </p>
            <div class="funding-type__amount-container">
                 <span class="funding-type__amount-header">Max Amount: $1500</span>
            </div>
        </article>

        <article class="funding-type">
            <h3 class="funding-type__title">Multicultural Inclusion Grant</h3>
            <p class="funding-type__content">
                Multicultural Inclusion Grants provide funding to Registered Student Organizations seeking to promote diversity, inclusion, and/or the spread of multicultural values throughout the University of Kentucky student body. Student organizations receiving this grant may receive up to  $1,500.
            </p>
            <div class="funding-type__amount-container">
                 <span class="funding-type__amount-header">Max Amount: $1500</span>
            </div>
        </article>

        <article class="funding-type">
            <h3 class="funding-type__title">Academic and Professional Conference Grant</h3>
            <p class="funding-type__content">
                Academic and Professional Conference Grants provide funding to Registered Student Organizations attending an Academic or Professional Conference that is closely related to the purpose of the registered student organization. Student organizations receiving this grant may receive up to $1,500.
            </p>
            <div class="funding-type__amount-container">
                 <span class="funding-type__amount-header">Max Amount: $1500</span>
            </div>
        </article>

        <article class="funding-type">
            <h3 class="funding-type__title">Senate Special Project</h3>
            <p class="funding-type__content">
                Senate Special Projects are funding requests intended to benefit the student body that must be 
                sponsored by a Student Government Senator. The maximum for this grant is $2,500. 
                Please contact a Senator and visit their office hours to discuss funding for a Senate Special Project.
            </p>
            <p class="funding-type__content">
                To see a list of available senators, check out <a target="_blank" href="http://uksga.org/branches/legislative" class="link">this link.</a>
            </p>
            <div class="funding-type__amount-container">
                 <span class="funding-type__amount-header">Max Amount: $2,500</span>
            </div>
        </article>

        <article class="funding-type">
            <h3 class="funding-type__title">RSO Promotional Grant </h3>
            <p class="funding-type__content">
                This grant is designed to increase your organization's presence on campus, and we are happy to purchase up to $500 of promotional items for your organization to use. You may order the approved items you need from a list of approved vendors. Upon approval, you will be contacted with specific instructions on how to go about the process of ordering your items. If you can't find what you need, need more information about the approval process, need to know specific details about what items can be funded, or anything else, please contact sga.funding@uky.edu. 
            </p>
            <p class="funding-type__content">
                To see apply, check out <a target="_blank" href="https://uky.campuslabs.com/engage/submitter/form/start/490047" class="link">this link.</a>
            </p>
            <div class="funding-type__amount-container">
                 <span class="funding-type__amount-header">Max Amount: $500</span>
            </div>
        </article>

        <h1 class="heading-primary">Student Grants</h1>
        <p class="description u-margin-bottom-small">
           UKSGA is also proud to provide multiple grants directly to UK students. Read the descriptions below to see if you meet the requirements for UKSGA funding.
        </p>

        <article class="funding-type">
            <h3 class="funding-type__title">Childcare/Dependent Grant</h3>
            <p class="funding-type__content">
                This grant is for full-time students who have dependents. Regardless of the severity of circumstances, we are happy to offer $1,000 to students with at least one (1) dependent or $1,500 for students with multiple (2+) dependents. The application seeks to validate that students have a dependent and gives an opportunity in the form of a short essay to share additional information. To clarify, a dependent is defined as anyone that the student may have legal guardianship over. This can include children (biological or adopted) and/or any other persons whom the student legally cares for (ex. Power of Attorney). This does not include spouses. Students may apply to this grant once per semester, or until funding is no longer available. If you have any questions, please do not hesitate to contact the Academic and Student Affairs Chair at sga.studentaffairs@uky.edu.
            </p>
            <p class="funding-type__content">
                To apply to this grant visit this <a target="_blank" href="https://uky.campuslabs.com/engage/submitter/form/start/488643" class="link">BBNVolved page.</a>
            </p>
            <div class="funding-type__amount-container">
                 <span class="funding-type__amount-header">Max Amount: $1,500</span>
            </div>
        </article>

        <article class="funding-type">
            <h3 class="funding-type__title">Parking Coupon Grant</h3>
            <p class="funding-type__content">
                UKSGA issues coupons to students providing up to 2 hours of free parking per day for up to 5 uses. Coupons will expire December 31st, 2021. Coupon codes and user license plates must be entered correctly to avoid receiving a citation.
            </p>
             <p class="funding-type__content">
                To apply visit this <a target="_blank" href="https://uky.campuslabs.com/engage/submitter/form/start/500744" class="link">BBNVolved page.</a>
            </p>
        </article>

        <article class="funding-type">
            <h3 class="funding-type__title">Graduate School Prep Book Grant</h3>
            <p class="funding-type__content">
               The purpose of this program is to provide students with free study materials, such as preparation books and flashcards, for select graduate and professional entrance exams. Qualifying exams include the GRE, GMAT, MCAT, LSAT, DAT, and OAT. Any post-graduate exams (NCLEX, PRAXIS, etc.) do not qualify. A variety of options is available for each exam. Specific books may be ordered by request with a maximum amount of $75, but may take time for shipping. This program is unable to fund the registration of any preparation courses. Students are responsible for picking up their prep material from the SGA Office, located in Suite A267 of the Gatton Student Center. Students are eligible for a maximum of one study material.
            </p>
             <p class="funding-type__content">
                To apply visit this <a target="_blank" href="https://uky.campuslabs.com/engage/submitter/form/start/491904" class="link">BBNVolved page.</a>
            </p>
        </article>
        
        <article class="funding-type">
            <h3 class="funding-type__title">Professional Development Grant</h3>
            <p class="funding-type__content">
                The purpose of this grant is to further students' academic and professional success outside of the classroom. This includes funding to attend conferences, research presentations, seminars, remote opportunities, and other experiences that will enhance the student’s leadership, professionalism, academics, and/or career. This application is open to both graduate and undergraduate students and can fund in-person and online events. We will not fund the cost of travel, classes, preparation courses, or any other expenses beyond the registration cost of the opportunity. Applicants will be asked to validate their attendance at the event. The grant takes form as reimbursement of receipts provided by the recipient; therefore, while applicants do not need to register before applying for the grant, recipients must register and pay prior to receiving the grant money. Applicants may apply for this grant for registration expenses for future events or events on/after August 23rd, 2021.
            </p>
            <p class="funding-type__content">
                To apply to this grant visit this <a target="_blank" href="https://uky.campuslabs.com/engage/submitter/form/start/488644" class="link">BBNVolved page.</a>
            </p>
        </article>

        <article class="funding-type">
            <h3 class="funding-type__title">Student Success Grant</h3>
            <p class="funding-type__content">
                The purpose of this grant is to provide funding to organizations with a University of Kentucky cost center (example: SSO’s, Departments, and other UK entities dedicated to serving students) to encourage and support student engagement as we return to in-person events. The deadline to apply is 5 pm on Wednesday, October 27th, 2021. Qualified applicants must describe how funding will directly serve the UK community.
            </p>
            <p class="funding-type__content">
                An estimated budget of how this money will be spent is requested before the application is approved. A follow-up budget will be requested at the end of the school year. Recipients of this grant will be responsible for tracking student involvement by recording student ID numbers at events and other programs (requested at the end of the fiscal year, July 2022). Remember, this funding should be used for the direct benefit of students. Feel free to contact the Academic and Student Affairs Chair at sga.studentaffairs@uky.edu with any questions.
            </p>
            <p class="funding-type__content">
                To apply to this grant visit this <a target="_blank" href="https://uky.campuslabs.com/engage/submitter/form/start/488644" class="link">BBNVolved page.</a>
            </p>
        </article>
    </section>

    <section class="section">
        <h1 class="heading-primary u-margin-bottom-medium">How to Receive Funding</h1>
        <ol class="funding-type__list" type="1">
            <li class="funding-type__list-item">
                Complete this online form. If you have any additional questions, contact Director of Finance at sga.finance@uky.edu.
            </li>
            <li class="funding-type__list-item">
                Present the request in person at the next Appropriations & Revenue (A&R) Committee Meeting. 
            </li>
            <li class="funding-type__list-item">
                If your proposal is approved by the A&R Committee, you will need to contact Lynn Fresca 
                within the next FIVE (5) business days. If you fail to do so, your grant will be voided.
            </li>
            <li class="funding-type__list-item">
                To receive full allocated funding the RSO must complete the required evaluation survey provided by the Appropriations and Revenue committee within 2 weeks following the sponsored event.
            </li>
        </ol>
    </section>

    <section class="section">
        <h1 class="heading-primary">Important Information</h1>
        <article class="funding-type">
            <h3 class="funding-type__title">Reimbursement Policy</h3>
            <p class="funding-type__content">
                Student Government funds organizations by reimbursement only. All receipts must be 
                submitted to the SGA office manager within 30 days of the approved event, project or 
                purchase. If receipts are not turned in within the 30 day window, the funding will be 
                forfeited. Groups can only be funded once per fiscal year.
            </p>
        </article>
        <article class="funding-type">
            <h3 class="funding-type__title">Prohibited Items</h3>
            <p class="funding-type__content">
                Student Government will not provide funding for the following items: food and beverages, 
                non-university approved vendors, subscriptions, taxes, management or consulting fees, 
                organizational membership dues, personal gifts, donations or contributions, financial aid, 
                scholarships, expenses incurred prior to Student Government approval, all equipment, awards, 
                trophies or prizes.
            </p>
        </article>
    </section>
    <section class="section">
        <h1 class="heading-primary">Financial Resources</h1>
        <p class="funding-type__content">
                UKSGA fully supports students as they seek financial wellness and support. Below, we have included important links to students needing financial assistance.
        </p>
        <article class="funding-type">
            <h3 class="funding-type__title">Wildcat Wardrobe</h3>
            <p class="funding-type__content">
                The Wildcat Wardrobe is a free professional clothing service for all UK students, located in the basement of White Hall. Whether you need professional attire for an interview, internship, or job, we are here to support students in their academic and professional careers. We have suits, dresses, shirts, ties, shoes, and more for all genders. Due to COVID 19, we have developed a brand new online Wildcat Wardrobe. These items are either purchased from JCPenneys, or donated from the Lexington community and UK alumni. Students are welcome to choose up to three articles of clothing from the Wardrobe, which are theirs to keep, as long as they fill out the “Wardrobe Satisfaction Form” emailed to them after picking up clothing. If you have any questions, please email sga.wardrobe@uky.edu
            </p>
            <p class="funding-type__content">
                You can visit the Wildcat Wardrobe in the basement of Whitehall Classroom Building, or you can visit the virtual Wildcat Wardrobe <a target="_blank" href="https://wildcatwardrobe.shopsettings.com/" class="link">here.</a>
            </p>
        </article>
        <article class="funding-type">
            <h3 class="funding-type__title">University of Kentucky Basic Needs Hub</h3>
            <p class="funding-type__content">
                This program provides free meal swipes to students experiencing demonstrated food insecurity. In order for your application to be processed, you must respond to all questions and provide detail in the narrative answers. Applications are processed and email notifications of acceptance are sent on Mondays and Wednesdays. If accepted, an initial amount of 10 meal swipes will be loaded to your UK Student ID within two business days. You will then be asked to meet with a Center for Support and Intervention staff member to assess for ongoing need and access to additional swipes/vouchers and/or other resources.
            </p>
             <p class="funding-type__content">
                Applicants can apply for meal swipes <a target="_blank" href="https://uky.az1.qualtrics.com/jfe/form/SV_0c5PJ4U5B5rour4" class="link">here.</a>
            </p>
        </article>
        <article class="funding-type">
            <h3 class="funding-type__title">Swipe Ahead</h3>
            <p class="funding-type__content">
                The University of Kentucky’s Basic Needs Hub helps provide for the basic needs of University of Kentucky students. This relates to food, housing, financial, and other basic needs.
            </p>
             <p class="funding-type__content">
                 If you are experiencing a basic needs crisis, please complete the Basic Needs Hum referral <a target="_blank" href="https://cm.maxient.com/reportingform.php?UnivofKentucky&layout_id=100" class="link">form.</a>
            </p>
        </article>
        <article class="funding-type">
            <h3 class="funding-type__title">Big Blue Pantry</h3>
            <p class="funding-type__content">
                Located in the basement of White Hall Classroom Building (room 025) next to the Post Office, the Big Blue Pantry is open to any University of Kentucky student with a valid UK ID experiencing food insecurity or hunger. Students will fill out a short intake form, and their information will remain private. There are no qualifications for access to the pantry other than being a UK student.
            </p>
        </article>
        <article class="funding-type">
            <h3 class="funding-type__title">Campus Kitchen</h3>
            <p class="funding-type__content">
                Campus Kitchen is a student-powered organization dedicated to reducing waste and eliminating food insecurity. Among other things, they seek to provide free weekly meals for UK students.
            </p>
            <p class="funding-type__content">
                Learn more about how to receive Campus Kitchen meals <a target="_blank" href="http://dhn.ca.uky.edu/CKUK" class="link">here.</a>
            </p>
        </article>
        <article class="funding-type">
            <h3 class="funding-type__title">ONE Community Cafe</h3>
            <p class="funding-type__content">
                UK Dining provides the ONE Community Cafe. Located on the second floor of Erikson Hall, the ONE Community Cafe provides balanced, nutritious meals for just $1.00. Operating hours are Monday to Friday 10:00 AM - 2:00 PM.
            </p>
        </article>
        <article class="funding-type">
            <h3 class="funding-type__title">UK Financial Wellness</h3>
            <p class="funding-type__content">
                The UK Financial Wellness office is geared toward engaging students in financial literacy programs and providing a place for peer mentorship through the MoneyCATS team. Financial Wellness also provides excellent resources for the University of Kentucky student body to stay connected and well equipped to handle their evolving financial needs.
            </p>
            <p class="funding-type__content">
                To schedule an appointment, ask questions, find program recommendations, or to join the MoneyCATS team, contact the Student Financial Wellness Center at 859-323-5241 or moneyCATS@uky.edu. To learn more, visit their web page <a target="_blank" href="https://www.uky.edu/financialwellness/" class="link">here.</a>
            </p>
        </article>
        <article class="funding-type">
            <h3 class="funding-type__title">iGrad</h3>
            <p class="funding-type__content">
                The University of Kentucky offers iGrad, a free virtual financial assistance service, to all UK students. IGrad contains a private scholarship search service, budgeting tools, a student loan calculator, courses on important financial skills and information, and much, much more!
            </p>
            <p class="funding-type__content">
                 Find out how to set up your iGrad account <a target="_blank" href="https://www.uky.edu/financialwellness/igrad" class="link">here.</a>
            </p>
        </article>
        <article class="funding-type">
            <h3 class="funding-type__title">UK Student Employment</h3>
            <p class="funding-type__content">
                The University of Kentucky provides employment exclusively for UK students.
            </p>
            <p class="funding-type__content">
                Learn more about job opportunities <a target="_blank" href="https://www.uky.edu/hr/employment/student-employment" class="link">here.</a>
            </p>
        </article>

        <article class="funding-type">
            <h3 class="funding-type__title">UK Office of Financial Aid and Scholarships</h3>
            <p class="funding-type__content">
                The UK Office of Financial Aid and Scholarships provides financial aid to students who would be unable to attend the University without such assistance. This includes the provision of academic scholarships, loan assistance, need based scholarships, and so on. 
            </p>
            <p class="funding-type__content">
                Learn more <a target="_blank" href="https://www.uky.edu/financialaid/" class="link">here.</a>
            </p>
        </article>

        <article class="funding-type">
            <h3 class="funding-type__title">University of Kentucky Financial Ombud Services</h3>
            <p class="funding-type__content">
                This office was created to help students who are having financial difficulties at the University of Kentucky. The Financial Ombud works one-on-one with students and parents to identify and resolve financial problems affecting payment of tuition and fees as well as enrollment. Students can contact the UK Financial Ombud at financialombud@lsv.uky.edu, (859) 218-1360, or visit them at 6 Funkhouser Building Monday through Friday from 8:00 AM to 4:30 PM.
            </p>
            <p class="funding-type__content">
                Students can also visit their website <a target="_blank" href="http://www.uky.edu/financialaid/financial-ombud-services" class="link">here.</a>
            </p>
        </article>
        
        <article class="funding-type">
            <h3 class="funding-type__title">Net Price Calculator</h3>
            <p class="funding-type__content">
                The UK Office of Financial Aid and Scholarships provides financial aid to students who would be unable to attend the University without such assistance. This includes the provision of academic scholarships, loan assistance, need based scholarships, and so on. 
            </p>
            <p class="funding-type__content">
               This illustrates for students the estimated cost of attending UK. Find the Net Price Calculator <a target="_blank" href="https://uky.studentaidcalculator.com/survey.aspx" class="link">here.</a>
            </p>
        </article>
    </section>
</main>

{% endblock %}